<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cordova Cloud</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>
  <!-- unminified for development -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.js" type="text/javascript"></script> -->

<!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" type="text/javascript"></script> -->


 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-chart/0.1.0/ng-google-chart.min.js" type="text/javascript"></script>  -->

</head>

<body>
  <div ng-app="cordova_lms" class="layoutDiv md-whiteframe-3dp" ng-strict-di="" layout="row" ng-controller="MainCtrl as mainCtrl" md-theme="{{ mainCtrl.dynamicTheme }}">
    <div layout="column" role="main" flex>
      <header-component></header-component>
      <div layout="row" flex>
  	    <side-nav></side-nav>
  	    <md-content layout="column" layout-padding flex ui-view="">
  	    </md-content>
  	  </div>
    </div>
  </div>
</body>