<div layout="column" class="maindiv">
    <div layout="column" layout-padding flex>
        <div flex id="toolbarw">
            <md-button ng-click="assignQuestionToAllStudents()" class="toolbarwithbutton">
                Assign to All Students
            </md-button>
        </div>
        <div flex id="toolbarw">
            <h2>
            <span>My Group</span>
         </h2>
            <!--  <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
        </div>
        <div style="width: 100%;height: 50vh;overflow-y: scroll;overflow-x: hidden;padding-left: 0px;">
            <table flex style="width:100%;" id="t01">
                <tr ng-repeat="groupdetails in directiveCtrl.studentgroupdetails">
                    <td width="10%">
                        <i class="material-icons">group</i>
                        <!--  <md-checkbox ng-model="checkstatus" aria-label="Checkbox 1" ng-click=getGroupDetails(groupdetails,checkstatus)></md-checkbox> -->
                    </td>
                    <td width="30%">
                        <md-card-title>
                            {{ groupdetails.groupName}}
                        </md-card-title>
                    </td>
                    <td width="50%">
                        <md-card-title ng-init="name=studentGroupLeaderToFetchNameAndShowInList(groupdetails)">Leader: {{ name }}</md-card-title>
                    </td>
                    <td>
                        <md-checkbox style="margin:5px" ng-model="checkstatus" aria-label="Checkbox 1" ng-click="getGroupDetails(groupdetails,checkstatus)"></md-checkbox>
                    </td>
                    <td>
                        <md-menu>
                            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                <i class="material-icons">more_vert</i>
                            </md-button>
                            <md-menu-content style="margin:13px">
                                <md-menu-item ng-click="deleteStudentGroup(groupdetails._id)">
                                    <md-button>
                                        <i class="material-icons">delete</i> Delete
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item ui-sref="createGroup({id:groupdetails._id})">
                                    <md-button>
                                        <i class="material-icons">mode_edit</i> Edit
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div layout="column" id="footer" flex>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
            <table>
                <tr>
                    <td>
                        Assign
                    </td>
                    <td>
                        <div ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)" class="round-button-circle md-icon-button">
                            <img alt="" style="height:40px;width:40px" src="search.svg">
                        </div>
                    </td>
                    <td>
                        <div>
                        </div>
                    </td>
                    <td>
                        Create New Group
                    </td>
                    <td>
                        <div ng-click="createNewGroup()" class="round-button-circle">
                            <img alt="" style="height:40px;width:40px" src="done.png">
                        </div>
                    </td>
                </tr>
            </table>
            <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
        </div>
    </div>
</div>
<!-- 
    <td>
                <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
               <md-button class="button"  aria-label="questionCount.count" ng-click="editStudentGroup(groupdetails._id)">Edit</md-button>
               <md-button class="button"  aria-label="questionCount.count" ng-click="deleteStudentGroup(groupdetails._id)">Delete</md-button>
              
            </td> -->
<!-- 
      <div layout="column" class="secondrow" layout-xs="column">
         <div layout="row" layout-xs="column">
            <div layout="column" flex id="rcorners2">
               <md-card-title>
                  <md-button class="button" ng-click="AddNewData()" aria-label="Learn More">
                     Add Group
                  </md-button>
               </md-card-title>
               <div layout="column" flex class="wide" id="rcorners1" >
                  <ul style="min-height: 5px;"  data-as-sortable="dragControlListeners" ng-model="studentdetailss">
                     <li  ng-repeat="studentitem in studentdetailss" data-as-sortable-item data-as-sortable-item-handle></li>
                  </ul>
                  <div  flex as-sortable="sortableCloneOptions1"  ng-model="studentdetailss" >
                     <div   ng-repeat="studentitem in studentdetailss" as-sortable-item >
                        <div as-sortable-item-handle id="rcorners7" >
                           {{studentitem.username}}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div  id="rcorners2" flex >
               <md-card-title>
                  <div>
                     <md-input-container>
                        <label>GroupName</label>
                        <input ng-model="directiveCtrl.groupName">
                     </md-input-container>
                     <md-button class="button" ng-if="directiveCtrl.saveButtonVisible" aria-label="questionCount.count" ng-click="saveGroup()">Save</md-button>
                     <md-button class="btnNav" ng-if="directiveCtrl.updateButtonVisible" aria-label="questionCount.count" ng-click="updateGroup()">Update</md-button>
                  </div>
               </md-card-title >
               <div flex class="wide" id="rcorners12" >
                  <ul style="min-height: 40px;"  data-as-sortable="dragControlListeners" ng-model="studentNewGroup">
                     <li  ng-repeat="studentname in studentNewGroup" data-as-sortable-item data-as-sortable-item-handle></li>
                  </ul>
                  <div  flex as-sortable="sortableCloneOptions1"  ng-model="studentNewGroup" >
                     <md-radio-group ng-model="studentNewGroup._id"  >
                        <div   ng-repeat="studentname in studentNewGroup" as-sortable-item id="rcorners11" >
                           <div as-sortable-item-handle  >
                              <md-radio-button ng-click="checkTest(studentname._id , studentname.username)" ng-value="studentname._id">  {{studentname.username}} </md-radio-button>
                           </div>
                        </div>
                     </md-radio-group>
                  </div>
               </div>
             
            </div>
         </div>
      </div> -->
<!--   <ul  style="min-height: 90px;"  data-as-sortable="dragControlListeners" ng-model="studentNewGroup"><md-radio-group ng-model="studentNewGroup._id"  ><li   id="rcorners4"   ng-repeat="studentname in studentNewGroup" data-as-sortable-item data-as-sortable-item-handle ><md-radio-button ng-click="checkTest(studentname._id , studentname.username)" ng-value="studentname._id">  {{studentname.username}} </md-radio-button></li></md-radio-group></ul>   -->