.toolbarwithbutton
{
	margin-left: 35%;
	background-color: #00BCD5;
    border: none;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}