<md-content flex class="md-padding center body-bg createSurveyPage" >
	<div layout="column" flex>
		<div ng-repeat = "preview in questionPreview" class="createSurveyQuestionsPreview">
			<div layout="row" flex>
				<div flex = "95" >
						<label>{{preview.title}}</label>
				</div>
				<div flex>
					<md-menu layout flex="none" class="surveyMenu">
		              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
		                 <i class="material-icons">more_vert</i>
		              </md-button>
		              <md-menu-content class="menuData" style="margin:13px;">
		                 <md-menu-item>
	                    	<md-button>
			                  <span class="headerIconLeft" ng-click="EditQuestion(preview,$index)">Edit</span>
            				</md-button>
		                 </md-menu-item>           
		               </md-menu-content>
		            </md-menu> 
	        	</div>
			</div>
			<div layout="row" layout-xs="column" flex >
				<div layout="row" flex>
					<div ng-repeat = "choice in preview.choices" layout="row" flex-gt-sm="35" class="choiceSetup" >
                     	<div ng-switch="choice.type">
							<div ng-switch-when="radioButton" layout="row">
		                     	<md-radio-group ng-model="choice.question" flex class="choiceRadioButtonPreview">
		                            <md-radio-button></md-radio-button>
		                        </md-radio-group>		
								<label>{{choice.question}}</label>
							</div>
                     	</div>
                     	<div ng-switch="choice.type">
                     		<div ng-switch-when="checkBoxes" layout="row" flex>
                     	    	<md-checkbox ng-value="choice.desc" ></md-checkbox>
                     	    	<label>{{choice.question}}</label>
                     		</div>
                     	</div>
                     	<div ng-switch="choice.type">
                     		<div ng-switch-when="paragraph">
             	    	        <md-input-container class="md-block">
						          <label>Question</label>
						          <textarea ng-model="choice.question" md-maxlength="150" rows="5" md-select-on-focus></textarea>
						        </md-input-container>
                     		</div>
                     	</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div flex = "75">
				<md-input-container  class="md-block noMargin">
					<label class="inputContainerLabel">Title</label>
					<input ng-model="surveyTitle">
				</md-input-container>
			</div>
			<div ng-repeat = "(qIndex,question) in questions" class=createSurveyQuestions>
				<div layout="row" flex>
					<div flex = "75">
						<md-input-container  class="md-block noMargin">
							<label class="inputContainerLabel">Question Title</label>
							<input ng-model="question.title">
						</md-input-container>
					</div>
					<div flex="20" class="surveyOptions">
						<md-input-container flex class="md-block">
							<label></label>
							<md-select  ng-model="question.selectedOptions" ng-init="getOptions($index,question.selectedOptions)" ng-selected="$index==0" ng-change="getOptions($index,question.selectedOptions)">
							   <md-option ng-repeat="sub in options" value="{{sub}}">{{sub}}</md-option>
							</md-select>
						</md-input-container>
					</div>
					<div flex>
						<md-menu layout flex="none" class="surveyMenu">
			              <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
			                 <i class="material-icons">more_vert</i>
			              </md-button>
			              <md-menu-content class="menuData" style="margin:13px;">
			                 <md-menu-item>
		                    	<md-button>
				                  <span class="headerIconLeft" ng-click="deleteQuestion()">Delete</span>
	            				</md-button>
			                 </md-menu-item>
		                     <md-menu-item>
		                    	<md-button>
				                  <span class="headerIconLeft" ng-click="saveQuestion(question,$index)">Save</span>
	            				</md-button>
			                 </md-menu-item>                
			               </md-menu-content>
			            </md-menu> 
		        	</div>
				</div>
				<div  layout="row" layout-xs="column" flex >
					<div layout="row" layout-wrap>
						<div ng-repeat = "choice in question.choices" layout="row" flex-gt-sm="25" class="choiceSetup" >
	                     	<div ng-switch="choice.type">
								<div ng-switch-when="radioButton" layout="row">
			                     	<md-radio-group ng-model="choice" flex class="choiceRadioButton">
			                            <md-radio-button></md-radio-button>
			                        </md-radio-group>		

			                        <md-input-container  class="md-block noMargin" >
										<label class="inputContainerLabel">Choice</label>
										<input ng-model="choice.question">
									</md-input-container>	
									<i class="material-icons" style="color: #cccccc;margin-top: 7px;" ng-click="removeChoice($index)">close</i>			
								</div>
	                     	</div>

	                     	<div ng-switch="choice.type">
	                     		<div ng-switch-when="checkBoxes" layout="row" flex>
	                     	    	<md-checkbox ng-value="choice.desc" ></md-checkbox>
	                 	    	 	<md-input-container  class="md-block noMargin" >
										<label class="inputContainerLabel">Choice</label>
										<input ng-model="choice.question">
									</md-input-container>
									<i class="material-icons"  style="color: #cccccc;margin-top: 7px;" ng-click="removeChoice($index)">close</i>	
	                     		</div>
	                     	</div>

	                     	<div ng-switch="choice.type">
	                     		<div ng-switch-when="paragraph">
	             	    	        <md-input-container class="md-block">
							          <label>Question</label>
							          <textarea ng-model="choice.question" md-maxlength="150" rows="5" md-select-on-focus></textarea>
							        </md-input-container>
	                     		</div>
	                     	</div>
						</div>
					</div>
					<div>
						<div ng-hide ="addOptions" >
							<md-button class="md-raised addButton" ng-click="addOption(question,qIndex)">ADD OPTION </md-button>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<div flex-offset="90">
			<md-button aria-label="Add Time" ng-click="addGridQuestion()" class="md-fab" style="background-color: #1761A8" >
				<i class="material-icons" style="font-size: 32px; position: relative; top: 11px;">add</i>
			</md-button>	
		</div>
	</div>
	<div flex flex-offset="55" layout="row" layout-wrap >
 		<md-button class="surveySave" ng-click="saveQuestions()">Save</md-button>
 		<md-button class="surveySave" ng-click="resetQuestions()">Reset</md-button>
 		<md-button class="surveySave" ng-click="saveQuestions()">Cancel</md-button>
	</div>
</md-content>
