<div ng-repeat = "choice in multipleChoice" >
        <md-radio-group ng-model="selectedDesc" flex >
            <md-radio-button ng-value="choice.desc" ng-click="setSelectedAns(choice.desc,'MCQ')" aria-label="data">option</md-radio-button>
        </md-radio-group>
</div>