<div layout="column" layout-padding flex class="quetionListPage">
    <div layout="row" id="selectionbar" layout-xs="column">
        <div style=" margin: 10px" layout-align="center none" flex>
            <md-input-container style="width:100%; margin-right: 10px;">
                <label>All</label>
                <md-select ng-model="ctrl.userState">
                    <md-option ng-repeat="choice in status" ng-click="filterQuestion(choice)" value="{{choice}}">
                        {{choice}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div style=" margin: 10px" layout-align="center none" flex>
            <md-input-container style="width:95%;">
                <label>Search</label>
                <input ng-model="Search">
            </md-input-container>
            <!-- <img alt="" ng-click="validateSearch(directiveCtrl.Search)" style="height:40px;width:40px" src="search.svg"> -->
        </div>
    </div>
    <!--  <div flex style="display: inline;border-radius: 10px;"> 
      <md-card flex layout="row" layout-align="start center">
        <h1>View</h1>
            <div>
              <md-radio-group>
                <md-radio-button ng-repeat="choice in status"
                             ng-value="choice"
                             ng-click="filterQuestion(choice)"
                             style="display: inline-block;padding: 10px;margin-left: 10px"
                             aria-label="{{choice}}">{{choice}}</md-radio-button>
              </md-radio-group>
            </div>
           
      </md-card>    
    </div> -->
    <div layout="row" flex style="background:white;display: inline; overflow:scroll;">
        <!-- <md-card flex> -->
        <div ng-repeat="questLst in getSurvey | filter : Search" layout="row">
            <div flex-gt-xs="100" class="md-whiteframe-3dp md-padding space_left_right_bottom xs_top_space">
                <div layout="row" layout-align="space-between center">
                    <div flex=70>
                        <p>{{questLst.title}}</p>
                    </div>
                    <div flex=10 class="md-padding" ng-switch on="questLst.status">
                        <div ng-switch-when='conducted'>
                            <div class="round"><img src="tick_mark_white.png"></div>
                        </div>
                        <div ng-switch-when='Not Conducted'>
                            <div class="close"><img src="delete.png"></div>
                        </div>
                    </div>
                    <div flex=20>
                        <p>{{questLst.status}}</p>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row" layout-align="space-between center">
                    <div flex=40 class="md-padding" ng-switch on="questLst.status">
                        <div ng-switch-when='conducted'>
                            <md-button class="button statusButton" ng-click="viewAtatus(questLst._id)"> View Status </md-button>
                        </div>
                        <div ng-switch-when='Not Conducted'>
                            <md-button class="button statusButton" ui-sref="assignmentGroup({id:questLst._id})"> conduct now </md-button>
                        </div>
                    </div>
                    <div flex=30 ng-init="createDate=getDateInFormat(questLst.created_date)">
                        <p>Created on:{{createDate}}</p>
                    </div>
                    <div flex=30 ng-init="date=getDateInFormat(questLst.due_date)">
                        <p>due date:{{date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <md-button aria-label="Add Time" ng-click="createNewAssignment()" class="md-fab" style="background-color: #1761A8;margin-left:90%">
                <i class="material-icons" style="font-size: 32px; position: relative; top: 11px;">add</i>
            </md-button>
        </div>
        <!-- </md-card>   -->
    </div>
</div>
