.createSurveyPage{
	margin:5px;
	background-color:#ffffff !important;
}
.surveyOptions md-input-container{
	padding: 2px;
    margin: 0px; 

}
.choiceSetup{
	padding: 4px;
}
.choiceRadioButton md-radio-button{
	box-sizing: border-box;
    display: block;
    margin-bottom: 0px;
    margin-top: 12px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.choiceRadioButtonPreview{
    box-sizing: border-box;
    display: block;
    margin-bottom: 0px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
}
.addButton{
	background-color:#ffffff !important;	
	color : #000000;
    font-size: 10px;
}
.createSurveyQuestions{
	border: 2px;
    padding: 11px;
    border-color: rgba(38,165,154,0.87);
    border-style: solid;
    margin-bottom: 10px;
}
.createSurveyQuestionsPreview{
    padding: 11px;
    border-color: rgba(38,165,154,0.87);
    margin-bottom: 10px;
}
.surveyMenu{
	padding: 0px;
    margin-top: -13px;
}
.surveySave{
	background-color: rgba(38,165,154,0.87);
	color: #ffffff;
}

.statusButton {
    background-color: #00BCD5;
    border: none;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}
.close {
    border-radius: 50px;
    background:rgb(198,40,40);
    width: 25px;
    height: 25px;
}

.close img {
    border-radius: 50px;
    width: 15px !important;
    height: 15px !important;
    padding: 5px 5px;
}