<div ng-repeat="question in questions track by $index" ng-show="$index == indexToShow" class="ibtPage">
	<!-- Passage -->
    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
        <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA track by $index" expanded="pane.isExpanded" ng-show="$index == indexToShow">
            <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content" class="vHeader ">
                <h5>{{ ::pane.header }}</h5>
            </v-pane-header>
            <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
                <p>{{question.passage}}</p>
                <div ng-repeat="img in question.passage_images">
                    <img flex ng-src="{{img.url}}" style="margin:2px;" />
                </div>
                <v-accordion id="nestedAccordionA" ng-if="pane.subpanes">
                    <v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">
                        <v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">
                            <h5>{{ ::subpane.header }}</h5>
                        </v-pane-header>
                        <v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">
                            <p>{{ ::subpane.content }}</p>
                        </v-pane-content>
                    </v-pane>
                </v-accordion>
            </v-pane-content>
        </v-pane>
    </v-accordion>
    <!-- MCQ -->
    <div ng-switch="question.question_type">
        <div flex ng-switch-when="MCQ" layout="column">
            <p>{{question.question_qn_desc}}</p>
            <div ng-repeat="quesImg in question.question_images">
                <img flex ng-src="{{quesImg.url}}" style="margin:2px;" />
            </div>
            <div flex layout="column" ng-repeat="choice in question.question_choice">
                <div class="md-whiteframe-2dp selectbox" layout="row" layout-align="space-between center" style="margin:5px;padding-left:10px;padding-right:10px;padding-top:10px;">
                    <md-radio-group ng-model="selectedAns[indexToShow]" flex>
                        <md-radio-button ng-value="choice.desc" class="md-primary" ng-click="setSelectedAns(choice.desc,'MCQ',0)" aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
                    </md-radio-group>
                    <div ng-repeat="img in choice.images">
                        <img flex ng-src="{{img.url}}" style="margin:2px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fill in the blanks -->
    <div ng-switch="question.question_type">
        <div ng-switch-when="FIB">
            <p>{{question.question_qn_desc}}</p>
            <md-tabs md-dynamic-height 
                md-border-bottom md-autoselect 
                class="md-whiteframe-3dp" 
                md-stretch-tabs="auto" 
                md-swipe-content="true"
                md-no-pagination="false"
                >
                <!-- md-pagination-arrows="paginate" -->
                <md-tab ng-repeat="(childIndex,answer) in question.question_choice" label="BLANK {{childIndex+1}}" 
                    md-on-deselect="evaluateFIB(childIndex)"
                    md-on-select="initiateTimer(childIndex)">
                    <div ng-repeat="choice in answer.answer track by $index">
                        <div flex class="md-whiteframe-2dp selectbox" layout="row" layout-align="space-between center" style="margin:5px;padding-left: 10px;padding-right: 10px;padding-top: 10px">
                            <md-radio-group ng-model="selectedFIBAns[indexToShow +'.'+ childIndex].option" flex>
                                <md-radio-button ng-value="choice.desc" class="md-primary" ng-click="setSelectedAns(choice.desc,'FIB',childIndex)" aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
                            </md-radio-group>
                            <div ng-repeat="img in choice.images">
                                <img flex ng-src="{{img.url}}" style="margin:2px;" />
                            </div>
                        </div>
                    </div>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
