.boxDashboard{
	background-color: #e9e9e9;
	height: 110px;
}
.noMargin-top{
	margin-top: 0px;
}
.noMargin-bottom{
	margin-bottom: 0px;
}
.noPadding-top{
	margin-top: 0px;
}
.subHeading{
	color: #32b2b3;
}
.todoInput{
	margin-bottom: 0px;
	margin-top: 5px;	
}
.boxDashboard .boxIcon{
	background-color: #33b86c;
    border-radius: 50%;
    padding: 12px;
}
.boxDashboard .boxIcon2{
	background-color: #1bcce6;
    border-radius: 50%;
    padding: 12px;
}
.boxDashboard .boxIcon i, .boxDashboard .boxIcon2 i{
	color: #fff;
	font-size: 40px;
}
.boxDashboard h3{
	color: #000;
	margin:0px;
	font-size: 24px;
}
.boxDashboard h4{
	color: #1f5057;
	margin: 0px;
	font-weight: 400;
}
.boxDashboard .boxCnt{
	padding-right: 20px;
	padding-bottom: 15px;
}