<div layout="column" flex class="md-padding">
 	<div layout="column" layout-gt-xs="row" flex> 
 		<div flex layout="row" flex-gt-xs="30" class="md-whiteframe-2dp boxDashboard md-margin">
 			<div flex="33" layout="row" layout-align="center center">
 				<div class="boxIcon">
 					<i class="material-icons">date_range</i>
 				</div>
 			</div>
 			<div flex="66" layout="column" layout-align="end end" class="boxCnt">
 				<h3>
 					16
 				</h3>
 				<h4>
 					Upcoming Events
 				</h4>
 			</div>
 		</div>
 		<div flex layout="row" flex-gt-xs="30" class="md-whiteframe-2dp boxDashboard md-margin">
 			<div flex="33" layout="row" layout-align="center center">
 				<div class="boxIcon2">
 					<i class="material-icons">date_range</i>
 				</div>
 			</div>
 			<div flex="66" layout="column" layout-align="end end" class="boxCnt">
 				<h3>
 					43
 				</h3>
 				<h4>
 					Announcement
 				</h4>
 			</div>
 		</div>
 		<div flex layout="row" flex-gt-xs="30" class="md-whiteframe-2dp boxDashboard md-margin">
 			<div flex="33" layout="row" layout-align="center center">
 				<div class="boxIcon2">
 					<i class="material-icons">date_range</i>
 				</div>
 			</div>
 			<div flex="66" layout="column" layout-align="end end" class="boxCnt">
 				<h3>
 					43
 				</h3>
 				<h4>
 					Announcement
 				</h4>
 			</div>
 		</div>

 	</div>
    <div  layout="row" flex>
       <div flex flex-gt-xs="40" class="md-padding">
 			<h3>Todo</h3>
 			<p class="subHeading">2 of 6 remaining</p>
 			<md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary">
	            Physics home work
	        </md-checkbox>
	        <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary">
	            Maths assigment
	        </md-checkbox>
	        <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary">
	            Complete history book rending 
	        </md-checkbox>
	        <md-checkbox md-no-ink aria-label="Checkbox No Ink" class="md-primary">
	            Study C ++ at home
	        </md-checkbox>

	        <md-input-container class="md-block todoInput">
		        <label>Add New Todo</label>
		        <input required name="clientName">
		    </md-input-container>

			<div layout="row" layout-align="space-between start" class="md-padding noPadding-top">
			  <div><md-button class="md-raised">Button</md-button></div>
			  <div><md-button class="md-raised md-primary">Primary</md-button></div>
			</div>

 		</div>
 		<div flex flex-gt-xs="50" class="md-padding">
 			<h3>subject wise Progress</h3>

 		</div> 
    </div>
</div>
