    <!-- <div ng-repeat="options in stopwatches"> -->
        <div bb-stopwatch options="options">
            <div class="container">
              <div class="stopWatch numbers">
                {{options.elapsedTime | stopwatchTime}}
               </div>
              <button class="btn" ng-click="startTimer()">Start</button>
              <button class="btn" ng-click="stopTimer()">Stop</button>
              <button class="btn" ng-click="resetTimer()">Reset</button>
              <button class="btn" ng-click="getTime()">getTIme</button>
            </div>
        </div>
        <div class="log" ng-repeat="log in options.log">
            {{log/1000}} seconds
        </div>

        <div>
            {{$scope.timeData}} seconds
        </div>
    <!-- </div> -->

<!--      <button class="btn" ng-click="stopWatchDemoCtrl.startTimer()">Start</button>
    <button class="btn" ng-click="stopWatchDemoCtrl.stopTimer()">Stop</button>
    <button class="btn" ng-click="stopWatchDemoCtrl.resetTimer()">Reset</button>
    <button class="btn" ng-click="stopWatchDemoCtrl.getTime()">getTIme</button> -->