<div id="authorize-div">
    <span>Authorize access to Directory API</span>
    <!--Button for the user to click to initiate auth sequence -->
    <button id="authorize-button" ng-click="handleAuthClick()">
        Users List
    </button>
</div>
<div layout="row" id="rcorners2" flex layout-sm="column">
    <div flex>
        <div style="margin-top:20px;">
            <md-card-title>
                <label>Create New Group</label>
                <md-divider></md-divider>
            </md-card-title>
        </div>
        <md-card-title>
            <div flex>
                <table style="width:100%;">
                    <tr>
                        <td style="width:80%;">
                            <md-input-container style="width:80%;">
                                <label>Group Email</label>
                                <input ng-model="groupemaiName">
                            </md-input-container>
                        </td>
                        <td style="width:20%">
                            <md-button class="button" aria-label="questionCount.count" ng-click="createGroup(groupemaiName)">Create Group</md-button>
                        </td>
                    </tr>
                </table>
            </div>
        </md-card-title>
    </div>
</div>
<div layout="column" flex ng-model="studentdetailss">
    <div id="rcorners7" flex ng-repeat="studentitem in studentdetailss ">
        <div flex>
            Email:{{studentitem.email}}
        </div>
        <div flex>
            UserName:{{studentitem.username}}
        </div>
    </div>
</div>