<div layout="column" flex >
   <div layout="column" layout-gt-xs="row" flex class="overFlowContainer">
      <!-- <div layout="row" flex >  -->
      
      <!-- Questions -->
      <div flex="75" 
         layout="column"
         flex-gt-xs
         style="background:white;margin: 5px;"
         class="md-whiteframe-5dp md-padding overFlowContainer">
         <header>
            <div layout="row"
               layout-align="space-between center"
               style="background: white;"
               flex>
               <div layout-align="start center">
                     <p style="color: #9E9E9E"> Question : <label style="color:#009688">{{indexToShow+1}}</label></p>
                </div>
                <div ng-show="isPracticeTest"
                     layout-align="end center">
                     <p style="color: #9E9E9E"> Time Taken : <label style="color:#009688">{{timerWithTimeout | hhmmss}}</label></p>
                </div>
                <div ng-show="!isPracticeTest"
                     layout-align="end center">
                     <p style="color: #9E9E9E"> Time Remaining : <label style="color:#009688">{{remainingTime}}</label></p>
                </div>
            </div>
         </header>
         <div flex >
               <!-- Directive to get the Questions class="overFlowContainer"-->
               <question-directive-assignment ></question-directive-assignment >
         </div>
          <md-input-container class="md-block">
          <label>Write your answer</label>
          <textarea rows="30"  id="text"  my-maxlength="1000" ng-model="textareaText" style="min-width: 100%;min-height:100%">
          </textarea>
        </md-input-container>
           <div>
         
        </div> 
        <div class="lock-size" layout="row" layout-align="center center">

      <md-fab-speed-dial md-open="directiveCtrl.isOpen" md-direction="{{directiveCtrl.selectedDirection}}" ng-class="directiveCtrl.selectedMode">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-icon md-svg-src="icons/menu.svg"></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
        
   
          <!-- <md-button aria-label="pdf" class="md-fab md-raised md-mini" >
            <md-icon md-svg-src="icons/menu.svg" aria-label="pdf"></md-icon>
            <label for="file-Upload">upload pdf</label>
          </md-button>
          <input type="file" id="file-Upload" name="file" ng-model="file"> -->

           <md-button type="file" flex="10" class="md-raised faBtn" ngf-max-size="1MB" ng-click="fileNameclick()">
            <label for="file-upload-multi-input" >Upload</label> 
          </md-button>
          <i ng-show="input.file.$error.maxSize">File too large{{errorFile.size / 1000000|number:1}}MB: max 2M</i>

        <label class="md-body-1" ng-hide="multiFileShow" style="margin-top: 23px">{{lsnPlnPdfName}}</label>
        <input type="file"  id="file-upload-multi-input" data-max-size="1" ng-hide="singleUpoad=true" name="file" onchange="angular.element(this).scope().getLsnPlnDetails(this)" value="Upload"/>
        <span style="padding-top:20px;">
          <md-button flex="10" class="md-raised faBtn" ng-click="uploadMultiformativeFile()">Save</md-button>
        </span>
          
          
          <md-button aria-label="photo" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="icons/menu.svg" aria-label="photo"></md-icon>upload photo
          </md-button>
          
        </md-fab-actions>
      </md-fab-speed-dial>
      <!-- <input type="submit"  ng-click="uploadMultiformativeFile()"> -->
    </div>
      </div>
   </div>
  

</div>
 
<footer>
   <div layout="row" flex   style="background:white;"  layout-align="center center">
        <table  >
         <tr>
             <td>
               <div>                
               </div>
            </td>
            <td> 
              DONE                          
            </td>
             <td >                 
                  <div ng-click="uploadAssignment()"  class="round-button-circle">
                     <img alt=""  style="height:40px;width:40px" src="tick mark.png">
                  </div>                                       
            </td>
            <td >  
               CANCEL                     
            </td>
              <td >                 
                  <div ng-click="" class="round-button-circle md-icon-button">
                     <img alt=""  style="height:40px;width:40px" src="delete.svg">
                  </div>                                       
            </td>
           
         </tr>
      </table >
       <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
      
   </div>
  
</footer>