.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}
.chat div {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
.self .msg {
    order: 1;
    border-bottom-right-radius: 0px;
    box-shadow: 1px 2px 0px #D4D4D4;
}
.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}
.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.msg {
    background: transparent;
    min-width: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}
.msg p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #777;
}
.messageuser {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
    color: #fff;
}
.messageText {
    font-size: 0.9rem;
    margin: 0 0 0.2rem 0;
    color: #fff;
    font-weight: bold;
}

.timer {
    font-size: 0.7rem;
    color: #757575;
    margin-top: 3px;
    margin-right: 2px;
    margin-left: 2px;
    float: right;
    text-align: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/*.timer:before{
    content: "";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}*/

.bubbledLeft,.bubbledRight {
    margin-top: 1px;
    padding: 5px 9px;
    max-width: 90%;
    clear: both;
    position: relative;
}

.bubbledLeft{
    float: left;
    margin-right: auto;
    -webkit-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    -o-border-radius: 8px 8px 8px 0px;
    -ms-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
    background-color: #18FFFF;
    color: #ffffff;
    margin-left: 8px;
}

.bubbledLeft:before {
    border-bottom: 10px solid #18FFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.bubbledRight{
    float: right;
    margin-left: auto;
    text-align: right;
    -webkit-border-radius: 8px 8px 0px 8px;
    -moz-border-radius: 8px 8px 0px 8px;
    -o-border-radius: 8px 8px 0px 8px;
    -ms-border-radius: 8px 8px 0px 8px;
    border-radius: 8px 8px 0px 8px;
    background-color: #18FFFF;
    color: white;
    margin-right: 8px;
}

.bubbledRight:before {
    border-bottom: 9px solid #18FFFF;
    border-right: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    right: -8px;
    content: "";
}
.userAvatarLeft {
  float: left;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  background: white;
  box-shadow: 1px 1px 1px 1px #D4D4D4;
}
.userAvatarRight {
  float: right;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  background: white;
  box-shadow: 1px 1px 1px 1px #D4D4D4;
}
.usersCommon{
  font-size: 12px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px ;
  margin: 0;
}
.userItem {
  background:#E0F2F1;
  
}
.userItemSelected {
  background:#ffffff;
}
.userBorder {
  padding-left:10px;
  margin-top:10px;
  margin-bottom:10px;
  width:100%;
  border-bottom:solid 1px #ddd;
}
