<div layout="row" flex style="min-height: 99%;max-height:100%;overflow-y:hidden" 
		class="md-whiteframe-3dp">
	
	<div layout="column" flex="33"
		style="background:#E0F2F1;">

		<!-- UserList START -->
		<div style="margin-left: 10px;margin-right: 10px;margin-top: 10px;"  
			layout-align="start center"  
			flex-start 
			layout="row"
			ng-show="!isGroupSelected">
        	<md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin:1px">
				        <label style="font-size: 0.9rem;">Search students</label>
        				<input ng-model="studentSearch"> 
			</md-input-container>
        	<div style="cursor: pointer;">
				<i class="material-icons">search</i>			
			</div>
			<div ng-click="enableGroupCreation()" style="cursor: pointer;">
				<i class="material-icons">group_add</i>
			</div>
		</div>
		<div layout="column"
			 ng-show="!isGroupSelected"
			 style="padding-bottom:80px;height:75vh;overflow-x:hidden;overflow-y:auto;">
			<div flex ng-repeat="userObj in userList | filter : studentSearch" 
				layout-align="start center">

						 <div flex layout="row"
						 class="usersCommon" 
						 ng-class="{'userItemSelected' : userObj.selected, 'userItem' : !userObj.selected}" 
						 ng-click="startChat(userObj)">
						 	<div layout="column">
								<div class="userAvatarLeft" 
									layout-align="center center"
									ng-show="!userObj.isGroup">
									<img src="/icons/studet.png" 
										style="width:36px;height:36px;padding-left:4px;">
								</div>
								<div class="userAvatarLeft" 
									layout-align="center center" 
									ng-show="userObj.isGroup">
									<img src="/icons/group.png" 
										style="width:36px;height:36px;padding-left:4px;">
								</div>
							</div>
							<p style="text-align:center;padding-left:20px;">{{userObj.name}}</p>
						 </div>
			</div>
		</div>
		<!-- UserList END -->
		<!-- Group START -->
		<div style="margin-left: 10px;margin-right: 10px;margin-top: 10px;"  
			layout-align="start center"  
			flex-start 
			layout="row"
			flex="15"
			ng-show="isGroupSelected">
        	<md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin:1px">
				        <label style="font-size: 0.9rem;">Group Name</label>
        				<input ng-model="studentGroupName" required> 
			</md-input-container>
        	
		</div>
		<div layout="column"
			 ng-show="isGroupSelected"
			 flex="75"
			 style="padding-bottom:80px;height:75vh;overflow-x:hidden;overflow-y:auto;">
			<div flex ng-repeat="userObj in userList | filter : studentSearch" 
				layout-align="start center"
				ng-show="!userObj.isGroup">

						 <div flex layout="row"
						 class="usersCommon" 
						 ng-class="{'userItemSelected' : userObj.selected, 'userItem' : !userObj.selected}" 
						 ng-click="selectUserForGroup(userObj)">
						 	<div layout="column">
								<div class="userAvatarLeft" 
									layout-align="center center"
									ng-show="!userObj.isGroup">
									<img src="/icons/studet.png" 
										style="width:36px;height:36px;padding-left:4px;">
								</div>
								<div class="userAvatarLeft" 
									layout-align="center center" 
									ng-show="userObj.isGroup">
									<img src="/icons/group.png" 
										style="width:36px;height:36px;padding-left:4px;">
								</div>
							</div>
							<p style="text-align:center;padding-left:20px;">{{userObj.name}}</p>
						 </div>
			</div>
		</div>
		<div flex layout-align="center center" 
			layout="row"
			ng-show="isGroupSelected"
			style="background:white;position: fixed;bottom: 20px;height: 80px;"
			ng-style="{'width': groupWidth}">
				
			    <md-button class="md-raised md-primary"
		           ng-click="enableChatList()">Cancel</md-button>

		        <md-button class="md-raised md-primary"
		           ng-click="createGroup()">Create Group</md-button>
		 </div>
		<!-- Group END -->
		
	</div>
	<!-- Chat Area -->
	 <div layout="column" flex="66" style="background:white;">
		 <div flex layout-align="center center">
			<!-- style="padding-bottom:100px; -->
		 		<p flex-start style="padding:10px;margin-top:10px;margin-bottom:10px;width:100%;border-bottom:solid 1px #ddd;">{{chatName}}</p>
				<div style="height:65vh;overflow-x:hidden;overflow-y:auto;">
				<!-- filter : receiverName && !msgObj.group -->  
					<div flex ng-repeat="msgObj in messageList | selectedUserChat:this" layout="row" layout-align="center center">

						<!-- left side img -->
						<div layout="column" ng-show="msgObj.self">
							<div class="userAvatarLeft" >
								
							</div>
							<time class="timer">{{msgObj.time}}</time>
						</div>
						<div ng-class="{'bubbledLeft' : msgObj.self, 'bubbledRight' : !msgObj.self}" layout-align="start center">
						
							<div flex layout="column">
						        <p class="messageuser">{{msgObj.sender}}</p>
						        <p class="messageText">{{msgObj.msg}}</p>
					      	</div>
				      	</div>
				      	<!-- right side img -->
				      	<div layout="column" ng-show="!msgObj.self">
					      	<div class="userAvatarRight" >
								
							</div>
							<time class="timer">{{msgObj.time}}</time>
						</div>
					</div>

				</div>

		</div>
		<div flex layout-align="center center" layout="row" style="background:white;position: fixed;bottom: 20px;height: 75px;"
			ng-style="{'width': windowWidth}"
			ng-show="isReceiverSelected">
				<div flex class="md-whiteframe-3dp" style="margin:10px;padding-top:10px;">
					<md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin:5px">
				         <label style="font-size: 0.9rem;">Enter your message here</label>
				         <input ng-model="userMsg" name=title required>
				    </md-input-container>
			    </div>
			    <div ng-click="sendMessage(userMsg)">
			    	<i class="material-icons" style="color:#00E676;">send</i>
			    </div>
		 </div>
	</div>
</div>

<!-- <footer flex-end>
	<div flex layout-align="end end" layout="row">
			<md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin:5px">
		         <label>Your Message</label>
		         <input ng-model="userMsg" name=title required>
		    </md-input-container>
		    <md-button class="md-raised md-primary"
	           ng-click="sendMessage(userMsg)">Send</md-button>
	 </div>
</footer> -->