.teachingSubPlan {
    margin-top: 13px;
}
.minus{
	
    background: rgb(231,232,234);
    width: 20px;
    height: 20px;
    padding-left: 6px;
    padding-bottom: 6px;
}
.plus{

    background: rgb(231,232,234);
    width: 20px;
    height: 20px;
    padding-left: 6px;
    padding-top: 5px;
}
