<div flex style="background:white;border-radius: 10px;overflow: auto;" layout="column" layout-margin="3px" layout-padding="10px">
    <div flex layout="column">
        <div layout="column">
            <md-input-container>
                <label>Enter Title</label>
                <input ng-model="teachingPlanTitle" style="min-width: 100%;min-height:100%">
                <p class="errorMessage">{{errors['title']}}</p>
            </md-input-container>
        </div>
        <div layout="column">
            <md-chips ng-model="teachingPlanCtrl.teachingPlanTopics" name="topics" readonly="teachingPlanCtrl.readonly" placeholder="Enter Topics" secondary-placeholder="Enter Topics">
            </md-chips>
        </div>
        <p class="errorMessage">{{errors['topic']}}</p>
        <div layout="column">
            <md-chips ng-model="teachingPlanCtrl.teachingPlanObjectices" name="objectives" readonly="teachingPlanCtrl.readonly" md-max-chips="5" placeholder="Enter Objectives" secondary-placeholder="Enter Objectives">
            </md-chips>
            <p class="errorMessage">{{errors['objective']}}</p>
        </div>
        <div layout="column">
            <label> Teaching Plan</label>
            <div ng-repeat="teachingPlan in teachingPlans">
                <div layout="row" flex>
                    <div flex="50" class="teachingSubPlan" layout-align="start center">
                        <md-input-container flex class="md-block">
                            <label>Enter Teaching Plan</label>
                            <input ng-model="teachingPlan.title" style="min-width: 100%;min-height:100%">
                            <p class="errorMessage">{{errors['teaching_plan.title']}}</p>
                        </md-input-container>
                    </div>
                    <div flex="45" layout="row" layout-align="start center">
                        <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                            <label>Hour</label>
                            <md-select ng-model="teachingPlan.time.hour">
                                <md-option ng-repeat="hour in hours" value="{{hour}}">{{hour}}</md-option>
                            </md-select>
                            <p class="errorMessage">{{errors['teaching_plan.time.hour']}}</p>
                        </md-input-container>
                        <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                            <label>Minute</label>
                            <md-select ng-model="teachingPlan.time.min">
                                <md-option ng-repeat="min in minutes" value="{{min}}">{{min}}</md-option>
                            </md-select>
                            <p class="errorMessage">{{errors['teaching_plan.time.min']}}</p>
                        </md-input-container>
                        <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                            <label>Second</label>
                            <md-select ng-model="teachingPlan.time.sec">
                                <md-option ng-repeat="sec in seconds " value="{{sec}}">{{sec}}</md-option>
                            </md-select>
                            <p class="errorMessage">{{errors['teaching_plan.time.sec']}}</p>
                        </md-input-container>
                    </div>
                    <div flex="5" layout="row" layout-align="start center">
                        <div ng-click="removeTeachingPlan($index)">
                            <div class="retangle minus"> <img  src="icons_06.png"></div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
         <div layout="column">
            <div>
               <div >
                <div class="retangle plus" ng-click="addnewTeachingPlan()"><img  src="icons_03.png"></div>
            </div>
            </div>
        </div>
        <div layout="column">
            <div>
                <md-chips ng-model="teachingPlanCtrl.teachingPlanResources" name="resource" readonly="teachingPlanCtrl.readonly" placeholder="Enter Resources Used" secondary-placeholder="Enter Resources Used">
                </md-chips>
                <p class="errorMessage">{{errors['resources']}}</p>
            </div>
        </div>
    </div>
</div>
<div layout="column" id="footer" flex>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <div layout="row" layout-align="center center">
        <table>
            <tr>
                <td>
                    ok
                </td>
                <td>
                    <div ng-click="saveTeachingPlan()" class="round-button-circle md-icon-button">
                        <img alt="" style="height:40px;width:40px" src="tick mark.png">
                    </div>
                </td>
                <td>
                    <div>
                    </div>
                </td>
            </tr>
        </table>
        <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
    </div>
</div>
