table, th, td {
 
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table#t01 tr:nth-child(even) {
    background-color: #ffffff;
}
table#t01 tr:nth-child(odd) {
   background-color:#ffffff;
}
table#t01 th	{
    background-color: #ffffff;
    color: black;
}

.wide {
 min-width: 100%; 
 display: inline-block; 
 background-color: yellow; 
}

.rcorners1 {
    border-radius: 20px;
    background: #ffffff;
    padding: 1px;   
}
#rcorners12 {
    border-radius: 0px;
    background: #FFFFFF;
    padding: 1px;   
    margin: 1px 
}

#rcorners2 {
	height: 100%;
    border-radius: 0px;
    background: #FFFFFF;
    padding: 10px;   
    margin: 5px 
}

#rcorners7 {
    border-radius: 0px;
    background: #FFFFFF;
    padding: 7px;   
    margin: 3px ;
    min-height: 49px;
-moz-box-shadow: 0 0 2px 2px #eaeaea;
-webkit-box-shadow: 0 0 2px 2px#eaeaea;
box-shadow: 0 0 2px 2px #eaeaea;
}
#rcorners11{
    border-radius: 0px;
    background: #FFFFFF; 
 padding: 2px;   
    margin: 6px ;
    -moz-box-shadow: 0 0 2px 2px #eaeaea;
-webkit-box-shadow: 0 0 2px 2px#eaeaea;
box-shadow: 0 0 2px 2px #eaeaea;
}
.makecenter
{
     margin: auto;
    border: 3px solid #73AD21;
    padding: 10px;
}
#rcorners3 {
    border-radius: 25px;
    background: #FFFFFF;
    padding: 10px;   
  
}
#toolbarw {
   
    background: #FFFFFF; /* some styling */
    margin-bottom: 1px
}
#selectionbar
{
     background: #FFFFFF; 
     /*height:30%;*/
}
.quetionListPage  md-input-container{
    margin-bottom: 0px;

}
  #footer {
    position:relative;
    bottom:0px;
    max-height: 70px;
    margin-left: .6%;
    margin-right: 1%;
    background-color:#FFFFFF;
    color:black;
  }
  .move-up {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#rcorners4 {
    border-radius: 25px;
    background: #F1F1F1;
    padding: 4px;   
    margin: 10px 
}

#rcorners8 {
    border-radius: 5px/20px;
    background: #eee;
    padding: 5px; 
    width: 400px;
    height: 20px; 
     margin: 30px 
}

.button {
    background-color: #00BCD5;
    border: none;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.round-button {
    width:5%;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:3px solid #cfdcec;
    overflow:hidden;
    
    background: #F1F1F1; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
    background:#30588e;
}
.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}
