.no-padding{
  padding: 0 !important;
  margin: 0 !important;
}

.md-subhead {
  /*This should be the text color for all subheads*/
  color: #2398CE !important;

}

.boldFont {
  font-weight: bold;
}
