body {
    color: #fff;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.layoutDiv {
    position: relative;
    overflow: hidden;
    width: 880px;
    margin: 0 auto;
    height: 100%;
}

md-content.md-default-theme,
md-content {
    background-color: #ebeef2;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

md-card > h2 {
    padding-left: 15px;
}

.note {
    width: 100%;
    box-sizing: border-box;
}

p.good {
    line-height: 30px;
    padding-left: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgba(0, 128, 0, 0.31);
}

p.warn {
    line-height: 30px;
    padding-left: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: rgba(204, 2, 5, 0.31);
}

.bg-white {
    background-color: #fff;
}

.toolbardemoBasicUsage md-toolbar md-icon.md-default-theme {
    color: white;
}


/*body {
  color: #00FF1E;
}*/

::-webkit-input-placeholder {
    color: #bbbbbb;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #bbbbbb;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #bbbbbb;
}

:-ms-input-placeholder {
    color: #bbbbbb;
}

.noMargin {
    margin: 0px;
}

.noPadding {
    padding: 0px;
}

input:disabled,
textarea:disabled {
    color: #bbbbbb !important;
}

// Rules for sizing the icon.
.material-icons {
    cursor: pointer;
    font-size: .8rem;
    color: #6D6D6D;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

// Rules for using icons as black on a light background.
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

// Rules for using icons as white on a dark background.
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.md-hue-2 {
    color: #FFFCFF !important;
}

.md-subhead {
    color: #4FACD1;
    padding: 0;
}

.md-body-1,
.md-body-2 {
    color: #828282 !important;
    /* For Firefox */
    white-space: pre-wrap;
    word-break: break-all;
    /* For Chrome and IE */
    word-wrap: break-word;
}


/********management console********/

.mgmtToolbar {
    border-bottom: 1px solid #DADADA;
}

.mgmtLightBox {
    border: 1px solid #DADADA;
}

.mgmtLightBoxHead {
    border: 1px solid #DADADA;
    min-height: 10px;
}


/*****************************************************/


/***********Sub endorsement ***************/

.gridHead md-divider {
    background-color: white;
    border: 1px solid white;
}

.gridHead p {
    font-size: 1rem;
    font-weight: bold;
}

.eachRowEditor {
    border-bottom: 2px solid #D8D8D8;
}

.textAlignRight {
    text-align: right;
}

.md-caption {
    color: #A1A1A1;
}

.footer {
    margin-top: 15%;
    padding: 0px;
}


/***************** User Management  ******************/

user-management md-list md-list-item {
    min-height: 30px;
}

user-management md-toolbar {
    min-height: 30px;
}


/****************** Curriculum Management *********************/

curriculum-management md-list md-list-item {
    min-height: 30px;
}

curriculum-management md-toolbar {
    min-height: 30px;
}


/***************** Content Editor Workspace ****************/

ce-workspace md-toolbar {
    min-height: 40px;
    padding: 0px !important;
}

.blueSelect {
    background-color: #8BD5FC;
}

md-select.md-makeMeWhite-theme .md-select-value {
    border-bottom-color: #8BD5FC;
}

.editorIcons {
    font-size: 1rem;
    color: #AFB1B3;
}

.normal {
    min-width: 32px;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 1px solid;
    border-color: #009688;
    color: #000000;
    font-weight: normal;
    background-color: #ffffff;
    border-radius: 50%;
}

.submit {
    min-width: 32px;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 1px solid;
    border-color: #4CAF50;
    color: #ffffff;
    font-weight: normal;
    background-color: #4CAF50;
    border-radius: 50%;
}


.smallbutton {
    background-color: #18A8A9;
    border: none;
    color: white;
    height: 12px;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}

.review {
    min-width: 32px;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 1px solid;
    border-color: #009688;
    color: #ffffff;
    font-weight: normal;
    background-color: #009688;
    border-radius: 50%;
}

p.wrong {
    display: inline-block;
    padding: 1px;
    font-weight: bold;
    background-color: #F44336;
    color: #ffffff;
    border-radius: 2%;
    margin: 0;
    content: url("/icons/ic_clear.png");
}

p.correct {
    display: inline-block;
    padding: 1px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #ffffff;
    border-radius: 2%;
    margin: 0;
    content: url("/icons/ic_done_white.png");
}

p.info {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    background-color: #2196F3;
    color: #ffffff;
    border-radius: 2%;
    margin: 0;
}

p.normal {
    display: none;
}

.rowDiv {
    display: inline-block;
}


/*Match the following START*/

.as-sortable-item,
.as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    /* to disable context menu on iOS devices */
    -webkit-touch-callout: none;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {}

.as-sortable-drag {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
}


/*Match the following END*/

.stopWatch {
    padding: 5px;
    background: linear-gradient(top, #222, #eee);
    border: 7px solid #efefef;
    border-radius: 5px;
    display: inline-block;
    margin: 10px auto;
    box-shadow: inset 0 -2px 10px 1px rgba(0, 0, 0, 0.75), 0 5px 20px -10px rgba(0, 0, 0, 1);
}

.numbers {
    font-size: 30px;
    line-height: 40px;
    font-family: digital, arial, verdana;
    color: black;
}

@font-face {
    font-family: 'digital';
    src: url('http://thecodeplayer.com/uploads/fonts/DS-DIGI.TTF');
}

.container {
    padding: 5px;
    text-align: center;
}

.overFlowContainer {
    overflow-x: auto;
    overflow-y: auto;
}

.md-track-ticks canvas {
    display: none;
}

md-slider:not(.active) .md-thumb-container {
    transition: transform .4s cubic-bezier(.25, .8, .25, 1)!important;
}

md-slider:not(.active) .md-track-fill {
    transition: width .4s cubic-bezier(.25, .8, .25, 1)!important;
}


/*Multiple selection CheckBox - START*/

md-select-menu[multiple] md-option {
    padding-left: 32px;
    padding-right: 32px;
}

md-select-menu[multiple] md-option[selected] .md-text:before {
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    left: 14px;
    display: table;
    width: 6.67px;
    height: 13.33px;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    content: '';
}


/*Multiple selection CheckBox - END*/


/*Expandable - START*/


/*.md-accordion {
    margin: 0 !important;
    padding: 0em 0em !important;
  }*/

.md-accordion{
  margin: 0 !important;
  padding: 0em 0em !important;
}

.md-accordion .expandCollapse { 
  width:32px;
  height:32px;
  position:relative;
  /*font-size:20px;*/
  font-weight:bold;
  cursor:pointer;
  color:black;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow:hidden;
}
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:32px;
  height:32px;
  /*display:inline-block;*/
  position:absolute;
  top:0; left:0;
  line-height:36px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before { 
  /*color:grey;*/
  opacity:1
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-3px;
}
.md-accordion .expandCollapse:after {
  /*color:grey;*/
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-3px;
}
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion .dataContent {
  background: #F2F2F2;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height:auto;
  padding:10px;
  /*display:inline-block;*/
}

.md-accordion md-toolbar{
  cursor:pointer;
  margin: 0 !important;
  padding: 0em 0em !important;
  border-bottom:1px solid #F2F2F2;
}

.normalAccordionHeadColor {
  background:#fff;
  font-size: 12px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}
.selectedAccordionHeadColor {
  background:#00BCD4;
  font-size: 12px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px ;
  margin: 0;
}

.selectedAccordionHeadColorFaq {
    background: #ffffff;
    font-size: 12px;
    letter-spacing: 0.005em;
    /*box-sizing: border-box;*/
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}


/*.md-toolbar .normalColor:active{
  background:#00ACC1;
}*/


/*Expandable - END */


.errorMessage {
    font-size: 10px;
    font-weight: bold;
    color: red;
    margin-top: 5px;
  }

.normalAccordionHeadColor1 {
  background:#fff;
  font-size: 12px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px;
  margin: 0;
}
.selectedAccordionHeadColor1 {
  background:#ffffff;
  font-size: 12px;
  letter-spacing: 0.005em;
  box-sizing: border-box;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 100%;
  height: 64px;
  max-height: 64px;
  padding: 0 16px ;
  margin: 0;
}

.md-accordion1{
   border:2px solid #e3e4e5;
  margin-bottom:10px;
  padding: 0em 0em !important;
}

.md-accordion1 .expandCollapse { 
  width:32px;
  height:32px;
  position:relative;
  /*font-size:20px;*/
  font-weight:bold;
  cursor:pointer;
  color:#E0E0E0;
  background: transparent;
  display:block;
  margin-top: -2px;

  overflow:hidden;
}
.md-accordion1 .expandCollapse:active {
  border:0px;
}
.md-accordion1 .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:32px;
  height:32px;
  /*display:inline-block;*/
  position:absolute;
  top:0; left:0;
  line-height:36px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion1 .expandCollapse:before { 
  /*color:grey;*/
  opacity:1
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-3px;
}
.md-accordion1 .expandCollapse:after {
  /*color:grey;*/
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";

  margin-left:-3px;
}
.md-accordion1 .active:before {
  opacity:1;

  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion1 .dataContent {
  background: #ffffff;
  height:0px;
  overflow:hidden;

  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}

.md-accordion1 .activeContent {
  height:auto;

  /*display:inline-block;*/
}

.md-accordion1 md-toolbar{
  cursor:pointer;
  margin: 0px;
  padding: 0em 0em !important;
  border:1px solid #ffffff;
}


.errorMessage { 
  font-size:10px;
  font-weight:bold;
  color:red;
  margin-top: 5px;
}

.md-button.selected {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #00838F;
}

.md-button.unselected {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: #00ACC1;
}

.circleNormal {
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #009688;
    background-color: #ffffff;
    margin: 5px;
}

.circleSubmit {
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #4CAF50;
    background-color: #4CAF50;
    margin: 5px;
}

.circleReview {
    background: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid;
    border-color: #009688;
    background-color: #009688;
    margin: 5px;
}

.btnNav {
    color: #ffffff;
    font-weight: normal;
    background-color: blue;
}

.btnNav:hover {
    color: #ffffff;
    font-weight: normal;
    background-color: #03A9F4;
}

#canvas {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #FFF;
}

.pdfControls {
    background: white;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    cursor: pointer;
}

.pdfControlSelected {
    background: #9E9E9E;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    cursor: pointer;
}
