<md-content layout="column" flex class="md-padding center body-bg forumPage">

	<div class="md-whiteframe-1dp md-padding" style="margin:5px;background-color:#ffffff" flex ng-repeat = "messageData in messageDetails" layout="column" layout-gt-sm="row">
		<div layout flex-gt-sm="10" class="studentImg" layout-align-sm="center start"
layout-align-xs="center start">
			<img src="images/icons/student_profile.png" class="md-whiteframe-3dp">
		</div>
		<div layout="column" flex-gt-sm="90">
			<div layout="row" flex layout-align="space-between start">
				<div layout flex>
					<h3 class="heading3">{{messageData.message.question}}</h3>	
				</div>
		 																																																																																																																																																																																																																																										
				<md-menu layout flex="none" class="forumMenu">
                  <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                     <i class="material-icons">more_vert</i>
                  </md-button>
                  <md-menu-content class="menuData" style="margin:13px;">
                     <md-menu-item ng-click="assignPublic(messageData,messageData.public)">
                        <md-button >
                        	<md-switch ng-model="messageData.public" aria-label="Switch 1">
							   public
							</md-switch>
                        </md-button>
                     </md-menu-item>
                     <md-menu-item ng-click="forwardFaq(messageData,messageData.faq)">
                        <md-button >
                        	<md-switch ng-model="messageData.faq" aria-label="Switch 1">
							   Forward to FAQ
							</md-switch>
                        </md-button>
                     </md-menu-item>            
                   </md-menu-content>
	            </md-menu> 
			</div>
			<div layout="column" layout-gt-sm="row" flex layout-align="space-between start">
				<div layout="column" freplyDiv flex-gt-sm="75">
					<div layout flex >
						<p class="messageDescription">{{messageData.message.description}}</p>	
					</div>
			  		<div style="color: #747474;font-size: 12px">
			  			Somia 
			  		</div>
		  		</div>	

		 		<div layout-align="center center" ng-hide="repliesButton[$index]" class="forumBox" ng-click = "showReplies($index)" layout flex flex-gt-sm="25">
					<div style="background-color: #ffffff;padding: 10px;text-align: center;" class="md-whiteframe-5dp">
						<div layout-align="center center">
							<div layout="column">
								<label style="color: #748EF7;padding: 5px;">Repiles</label>
								<label style="color: rgb(0,188,212);padding: 5px;">{{messageData.message.reply.length}}</label>	
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<div ng-hide ="replyArea[$index]"  flex class = "replyDiv" >
				<div layout="column" layout-gt-sm="row" ng-repeat = "replyMessages in messageData.message.reply">
					<div layout="column" flex="55">
						<div class="replyMessageTitle">
				  			{{replyMessages.title}}
				  		</div>
				  		<div style="color: #747474;font-size: 12px;" flex>
				  			Somia 
				  		</div>
					</div>
					<div layout flex="" >
						<md-checkbox class = "forumCheckBox" ng-model="replyMessages.faqStatus" aria-label="Checkbox 1" ng-click="addToFaq($index,messageData,replyMessages.faqStatus)">correct Answer</md-checkbox>
					</div>
				</div> 
			</div>
			<div flex="40" layout="row" style="padding: 0px;">
				<md-input-container  class="md-block noMargin">
					<label class="inputContainerLabel">Enter Reply</label>
					<input ng-model="replyMessages.replyMessage">
				</md-input-container>
				<div flex="33" style="padding: 0px">
					<md-button class="md-raised md-primary" ng-click="replyMessageButton(messageData._id,replyMessage,checkstatus,replyMessages.replyMessage)" >Post</md-button>
				</div>
			</div>
		</div>		
	</div>

	<div flex layout="column" >
	  	<md-whiteframe  class="md-whiteframe-1dp"  flex-sm="45" flex-gt-sm="35" style= "margin:5px;background-color:#ffffff" flex-gt-md="25" flex>
		  <div style= "padding:10px;">
			<div flex layout="row">
				<div flex="40" style="padding: 0px">
					<md-input-container  class="md-block noMargin">
						<label class="inputContainerLabel">Enter New Question</label>
						<input md-maxlength="30" ng-model="question">
					</md-input-container>
				</div>
			</div>
			<div flex layout="row">
				<div flex="66" style="padding: 0px">
			        <md-input-container class="md-block noMargin">
						<label class="inputContainerLabel">Enter Description</label>
						<textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
					</md-input-container>
				</div>
				<div flex="33" style="padding: 0px">
					<md-button class="md-raised md-primary" ng-click="addQuestion()" >Post</md-button>
				</div>
		  	</div>
		  </div>
	  	</md-whiteframe>
    </div>

</md-content>