.userImage  img {
    width: 61px;
    border-radius: 75%;
    cursor: pointer;
    height: 58px;
    padding: 10px;
}
.heading3 {
	padding: 0px;
	margin: 0px;
}
.forumDescription{
	padding-top: 10px;
}
.menuData md-open-menu-container md-whiteframe-z2 md-default-theme md-active md-clickable{
    top: 100px;
    left: 916px;
    transform-origin: left top 0px;
}
.inputContainerLabel{
	font-size: 10px;
}
.forumPage{
    line-height: 1.5;
}
.forumPage .studentImg img{
    height: 55px;
    border-radius: 50%;
}
@media (max-width: 899px) {
    .forumPage .studentImg img{
        height: 80px;
    }
    .forumPage .forumBox{
        width: 100%;
    }

}
.forumPage md-menu.forumMenu{
    padding: 0px;
    height: 35px;
}
.replyDiv{
    padding-top : 2%;
    padding-left : 4%;
}
.messageDescription{
    margin: 0px;
    font-size: 14px;
}
.forumCheckBox{
    color: #747474;
    font-size: 12px;
}
.replyMessageTitle{
    font-size: 14px;   
}