<div layout="column" layout-padding flex class="quetionListPage">
	<div layout="row"  id="selectionbar" layout-xs="column" >
		<div style=" margin: 10px"  layout-align="center none"    flex >
			<md-input-container style="width:95%;" >
      			<label>Enter Word</label>
        		<input ng-model="Search">        	  
        	</md-input-container>
		</div>
		<div style=" margin: 10px"   layout-align="center none"  flex >
			   <md-button class="button"  ng-click="conductDitaction(Search)">Conduct</md-button>
		</div>	     
	</div>
	<div layout="row"  flex style="background:white;display: inline; overflow:scroll;">
			<!-- <md-card flex> -->
			 <div id="rcorners7" flex  ng-repeat="data in meaning  track by $index">
                     <div flex   >
                        {{data}}
                     </div>
                  </div>	
	</div>
</div>

