  <md-content layout class="md-padding" flex >
         <div layout="column" layout-gt-xs="row" flex>
         	<div layout="column" flex > 
         		<!-- layout-gt-xs="row" -->
         		<md-card flex class="overFlowContainer">
	                <md-card-content>
	                <!-- Directive to get the Questions -->
	                	<question-directive ></question-directive >
               			<div ng-model="answerType">
               				<p class="{{answerStatus}}">{{answerType}}</p>
               			</div>
	                </md-card-content>                 
	            </md-card>

	            <!-- Navigation -->
	            <md-card flex>
	                <md-card-content>
	                     <md-button class="md-raised" ng-click="submitQuestion()" ng-disabled="!isOptionSelected">{{actionBtnName}}</md-button>
	                     
	                     <!-- Explanation of the question -->

	                     <div ng-repeat="question in questions track by $index" ng-show="$index == indexToShow">             						    	
								<div ng-switch="question.type">

									 <!-- MCQ -->
									 <div ng-switch-when="MCQ">
									 	 <div ng-switch="question.pattern">

									 	 	 <div ng-switch-when="single">
							                     <div ng-model="ansExplanation">
						               				<p class="rowDiv">{{ansExplanation}}</p>
						               			</div>
					               			</div>

					               			<div ng-switch-when="multiple">
							                    <div ng-repeat="choice in question.choice">
						               				<p class="rowDiv">{{errorMrQues[choice.desc].msg}}</p>
						               			</div>
					               			</div>

				               			</div>
						         	 </div>

 									<!-- FIB -->
						         	 <div ng-switch-when="TF">
					                     <div ng-model="ansExplanation">
				               				<p class="rowDiv">{{ansExplanation}}</p>
				               			</div>
						         	 </div>

							        <!-- FIB -->
									<div ng-switch-when="FIB">
											<div ng-repeat="choice in question.answer">
									            <p class="rowDiv">{{errorFib[choice.desc].msg}}</p>
										     </div>
							         </div>

							         <!-- MTF -->
									<div nng-switch-when="MTF">
											<div ng-repeat="question in quesData">
								            	<p class="rowDiv">{{errorMtf[question.tag].msg}}</p>
							                </div>
							         </div>

								</div>
					       </div>

	                     <div ng-model="ansExplanation">
               				<p>{{ansExplanation}}</p>
  							<label>Timer with timeout: {{timerWithTimeout | hhmmss}}</label>
               			</div>

	                </md-card-content>	                 
	            </md-card>
         	</div>
           <div  layout="row" flex>
	            <md-card flex flex-sm="95">
	                <md-card-content>
	                    <div ng-repeat="questionCount in totalQuestion" style="display: inline-block;">
	                		<md-button class="btnNav" ng-class="{'btnNavSelected': questionCount.isActive}" aria-label="questionCount.count" ng-click="changeQuestion($index)">{{questionCount.count}}</md-button>

	                	</div>
	                	<hr>
	                	<p>Score : {{score}}</p>
	                </md-card-content>
	            </md-card>
	        </div>
        </div>
        
    </md-content>