pie-chart {
}
.bottom {
    clear: both;
    font-size: 0.9em;
    color: grey;
    padding: 2em 1em 0 1em;
}
h2 {
    font-size: 1.3em;
    margin: 0.8em 0.5em 0.1em 0.5em;
}
input {
    font-size: 0.8em;
    width: 6em;
}
input.title {
    width: 12em;
}
tr.selected td {
    background-color: red;
}
.left {
    float: left;
    margin-right: 4em;
}

#chart_wrap {
    border:1px solid gray;
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow:hidden;
}
#chart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}
