<div layout="column" class="maindiv" layout-padding flex >
	<div layout="row">
		<select ng-change="ondatachange(selectedCharts)" ng-model="selectedCharts" ng-options="item for item in myCharts">
	 	</select>
	 	<md-button class="button"   ng-click="showGraphData()">Show</md-button>
	</div>
	<div layout="row" id="chart_wrap" >
		<div   id="chart" flex google-chart chart="myChartObject" style="height:600px; width:100%;">
		</div>
	</div>
</div>