
/*css for searchfilter*/

.search-down-button {
    min-width: 0;
    margin: 0px;
}

.search-filter .search-down {
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    top: 47%;
    width: 40%;
}

.filters {
    margin: 29px 46px 0 19px;
}

.studentSearch {
    width: 40%;
}

.cardfilter {
    background-color: white !important;
}
.textWrap {
    word-wrap: break-word;
    word-break: break-all;
}
.chek {
    margin-left: 1%;
}
.parentDown
{
  position: relative;
}
.checkMargin
{
 margin-right: 6%;

 color: #757575;
}
.searchColor
{
     
 color: #757575;
}
.tileMargin
{
  margin-left: 2%;
  margin-top: 2%;
}
.imageFilter
{
  width:75px;
}
.searchBold
{
     font-weight: bold;
}
.checkBoxSearch
{
    margin-top: 7%;
}
.search-filter .mainFilter md-card{
    max-height: 100px;
}
/* end of search filter*/

.cms-search-filter .search-down {
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    top: 47%;
}