


<div layout="row" layout-xs="column" md-whiteframe="1" layout-wrap layout-padding layout-fill class="littleWhiteFrameNoBorder search-filter" ng-cloak>
    <div layout="row" flex="100" layout-wrap class="parentDown">
        <div flex="60" flex-sm="50" flex-xs="100">
            <md-input-container class="studentSearch">
                <label>Search Students</label>
                <md-icon class="material-icons">search</md-icon>
                <input type="text" ng-model="filterObj['$']" autocomplete="off">
            </md-input-container>
            <md-button class="search-down-button" ng-hide="showSearchBottomSheet" ng-click="showSearchBottomSheet=true"><i class="material-icons">keyboard_arrow_down </i> </md-button>
            <div class="search-down littleWhiteFrame" ng-show="showSearchBottomSheet" layout="row" flex="80" layout-wrap flex-xs="100" flex-sm="50" flex-gt-xs="50">
                <md-card flex="100" class="cardfilter textWrap" flex-sm="50" flex-xs="100">
                    <md-card-actions layout="row" layout-align="start center">
                        <div flex class="filters" layout="row">
                            <div flex ng-repeat="demo in values">
                                <md-input-container flex layout-align="space-between">
                                    <label>{{demo.key}}</label>
                                    <md-select ng-model="filterObj[demo.key]" ng-change="checkChange()">
                                        <md-option value="{{undefined}}">Select</md-option>
                                        <md-option ng-repeat="filterName in demo.value" value="{{filterName.name.trim()}}">{{filterName.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-card-actions>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="showSearchBottomSheet=false">
                            <md-icon class="material-icons">close</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="end start" class="checkMargin" flex>
        <md-checkbox ng-model="allItemsSelected" ng-change="selectAll(allItemsSelected)" class="md-primary ">
            Select All/Deselect All
        </md-checkbox>
    </div>
    <div layout="row" flex="100" layout-wrap class="mainFilter">
        <div layout="column" flex="100" layout-wrap>
            <p ng-show="dataSet.length===0">No result found</p>
            <div flex layout-wrap layout="column" ng-hide="dataSet.length===0">
                <div flex="100" layout="row" layout-wrap>
                    <md-card flex="30" flex-xs="100" flex-sm="45" flex-gt-xs="30" layout-wrap ng-repeat="ttt in dataSet|filter:filterObj" class="cardfilter textWrap">
                        <div layout="row">
                            <div class="md-media-sm card-media"><img src="images/icons/student_profile.png" class="imageFilter"></div>
                            <div>
                                <p class="searchBold">{{ttt.name}}--{{ttt.class}}--{{ttt.batch}}
                                </p>
                                <p class="searchColor">{{ttt.username}}</p>
                                <p></p>
                            </div>
                            <div layout="row" class="checkBoxSearch" layout-align="end start" flex>
                                <md-checkbox ng-model="dataSet[$index].isChecked" class='checkbxinput' aria-label="Checkbox_{{$index+1}} checked checkbox" ng-class="{selected:dataSet[$index].isChecked}" ng-change="changeCheckAll()" layout="row" layout-align="end center">
                                </md-checkbox>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>
