<div ng-repeat="question in questions track by $index" ng-show="$index == indexToShow">
    <!-- MCQ - Single-->
    <div ng-switch="question.type">
        <div ng-switch="question.pattern">
            <!--Single-->
            <div flex ng-switch-when="single">
                <p>{{question.qn_desc}}</p>
                <div flex layout="column" ng-repeat="choice in question.choice">
                    <div class="md-whiteframe-2dp" layout="row" layout-align="space-between center" style="margin:5px;padding-left: 10px;padding-right: 10px;padding-top: 10px">
                        <md-radio-group ng-model="selectedDesc" flex ng-show="isPracticeTest">
                            <md-radio-button ng-value="choice.desc" ng-click="setSelectedAns(choice.desc,'MCQ')" aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
                        </md-radio-group>
                        <md-radio-group ng-model="selectedAns[indexToShow]" flex ng-show="!isPracticeTest">
                            <md-radio-button ng-value="choice.desc" ng-click="setSelectedAns(choice.desc,'MCQ')" aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
                        </md-radio-group>
                        <div style="margin-bottom:5px;">
                            <p class="{{errorMcqQues[choice.desc].answerStatus}}"> </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Multiple-->
            <div ng-switch-when="multiple" layout="column">
                <p>{{question.qn_desc}}</p>
                <div layout="row" flex layout-align="space-between center" ng-repeat="choice in question.choice" class="md-whiteframe-2dp" style="margin:5px;padding-left: 10px;padding-right: 10px;padding-top: 10px">
                    <md-checkbox ng-value="choice.desc" ng-checked="checkChoiceExists(choice.desc)" ng-click="setSelectedAns(choice.desc,'MR')">{{ choice.desc }}</md-checkbox>
                    <div style="margin-bottom:10px;">
                        <p class="{{errorMrQues[choice.desc].answerStatus}}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- True | False -->
    <div ng-switch="question.type">
        <div ng-switch-when="TF">
            <p>{{question.qn_desc}}</p>
            <div flex layout="column" ng-repeat="choice in question.choice">
                <div class="md-whiteframe-2dp" layout="row" layout-align="space-between center" style="margin:5px;padding-left: 10px;padding-right: 10px;padding-top: 10px">
                    <md-radio-group ng-model="selectedDesc" flex ng-show="isPracticeTest">
                        <md-radio-button ng-value="choice.tag" ng-click="setSelectedAns(choice.tag,'TF')" aria-label="{{choice.tag}}">{{choice.tag}}</md-radio-button>
                    </md-radio-group>
                    <md-radio-group ng-model="selectedAns[indexToShow]" flex ng-show="!isPracticeTest">
                        <md-radio-button ng-value="choice.tag" ng-click="setSelectedAns(choice.tag,'TF')" aria-label="{{choice.tag}}">{{choice.tag}}</md-radio-button>
                    </md-radio-group>
                    <div style="margin-bottom:5px;">
                        <p class="{{errorTFQues[choice.tag].answerStatus}}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fill in the blanks -->
    <div ng-switch="question.type">
        <div ng-switch-when="FIB">
            <p>{{question.qn_desc}}</p>
            <div ng-repeat="choice in question.answer">
                <div class="md-whiteframe-2dp" layout="row" layout-align="space-between center" style="margin:5px;padding-left: 10px;padding-right: 10px;padding-top: 10px">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Enter Answer {{$index+1}}</label>
                        <input ng-model="ansFib[indexToShow].choice[choice.desc]" ng-click="setSelectedAns('enteredAns','FIB')">
                    </md-input-container>
                    <div style="margin:5px;">
                        <p class="{{errorFib[choice.desc].answerStatus}}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 	Match the following -->
    <div ng-switch="question.type">
        <div ng-switch-when="MTF">
            <p>{{question.qn_desc}}</p>
            <div flex layout="row">
                <div flex layout="column">
                    <div ng-repeat="question in quesData" class="md-whiteframe-2dp" layout="row" style="margin:5px;">
                        <label style="padding:15px;background: #00BCD4;color: white">{{$index+1 | character}}</label>
                        <label flex style="padding:15px;background: white;">{{question.desc}}</label>
                        <!--  <label> {{$index+1 | character}} . </label><md-button class="md-raised">{{question.desc}}</md-button> -->
                    </div>
                </div>
                <div flex layout="column">
                    <ul class="card-list" as-sortable="dragControlListeners" ng-model="mtfAnsData[indexToShow]">
                        <li ng-repeat="answer in mtfAnsData[indexToShow]" as-sortable-item>
                            <div class="md-whiteframe-2dp" layout="row" style="margin-bottom:10px;margin-top: 5px;margin-left: 5px;padding-right: 5px;" flex layout-align="space-between center" as-sortable-item-handle>
                                <!-- <div > -->
                                <!-- <md-button class="md-raised">{{answer.desc}}</md-button>   -->
                                <label style="padding:15px;background: #009688;color: white">{{$index+1}}</label>
                                <label flex style="padding:15px;background: white;">{{answer.desc}}</label>
                                <i class="material-icons">drag_handle</i>
                                <!-- </div> -->
                                <!-- <div style="margin-right: 10px">
			                  			<p class="{{errorMtf[$index].answerStatus}}"> </p>
			            			</div> -->
                            </div>
                        </li>
                    </ul>
                </div>
                <div layout="column">
                    <div ng-repeat="question in quesData" layout="row" flex layout-align="space-between center" style="margin:5px;padding:10px;">
                        <p class="{{errorMtf[question.tag].answerStatus}}"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SA -->
    <div ng-switch="question.type">
        <div ng-switch-when="SA">
            <p>{{question.qn_desc}}</p>
        </div>
    </div>
    <!-- LA -->
    <div ng-switch="question.type">
        <div ng-switch-when="LA">
            <p>{{question.qn_desc}}</p>
        </div>
    </div>
</div>
