<div layout="column" layout-padding flex class="quetionListPage">
    <div id="selectionbar" style=" margin-bottom: 10px" flex>
        <table style="width:100%;">
            <tr>
                <td style="width:60%;">
                    <div style=" margin: 1px" flex>
                        <md-input-container style="width:98%;">
                            <label>Enter Word</label>
                            <input ng-model="Search">
                        </md-input-container>
                    </div>
                </td>
                <td>
                    <img alt="" ng-click="playSound(Search)" style="height:40px;width:40px" src="done.png">
                </td>
                <td>
                    <md-input-container>
                        <label>Enter mark</label>
                        <input ng-model="mark">
                    </md-input-container>
                </td>
            </tr>
            <tr>
                <td style="width:60%;">
                    <div style=" margin: 1px" flex>
                        <md-slider flex min="0" max="60" ng-model="timeDictation" aria-label="red" id="red-slider" class>
                        </md-slider>
                    </div>
                </td>
                <td>
                    <input flex type="number" style=" height:30px" ng-model="timeDictation" aria-label="red" aria-controls="red-slider">
                </td>
                <td>
                    <md-button class="button" ng-if="directiveCtrl.saveButtonVisible" ng-click="saveDictation(Search,mark,timeDictation)">Save</md-button>
                    <md-button class="button" ng-if="directiveCtrl.updateButtonVisible" aria-label="questionCount.count" ng-click="updateDictation(Search,mark,timeDictation)">Update</md-button>
                </td>
            </tr>
            <tr>
                <td>
                 <div>
                            <span  style=" margin-left:1%;display:inline;">0s</span>
                             <span style=" margin-left:92%;display:inline;">60s</span>
                         </div>
        
                </td>
            </tr>
        </table>
    </div>
    <!-- <div layout="row"flex style="background:white;display: inline; margin-top:5px"> -->
    <div class="md-accordion1" ng-repeat="dictation in directiveCtrl.studentDictation">
        <div ng-click="collapseAll(dictation)">
            <div ng-class="{'selectedAccordionHeadColor1' : dictation.expanded, 'normalAccordionHeadColor1' : !dictation.expanded}">
                <table style="width:100%;">
                    <tr>
                        <td style="width:10%;">
                            <div style=" margin: 1px" flex>
                                <img alt="" style="height:40px;width:40px" src="done.png">
                            </div>
                        </td>
                        <td style="width:50%;font-size: 14px;">
                            {{dictation.dictation_word}}
                        </td>
                        <td style="width:10%;">
                            <div ng-switch on="dictation.status">
                                <div ng-switch-when='Not conducted'>
                                    <img alt="" style="height:20px;width:20px" src="done.png">
                                </div>
                                <div ng-switch-when='Conducted'>
                                    <img alt="" style="height:20px;width:20px" src="group.png">
                                </div>
                            </div>
                        </td>
                        <td style="width:15%;font-size: 14px;">
                            {{dictation.status}}
                        </td>
                        <td style="width:10%;">
                            <md-checkbox style="margin:5px" ng-model="checkstatus" aria-label="Checkbox 1" ng-click="getDictationDetails(dictation,checkstatus)"></md-checkbox>
                        </td>
                        <td style="width:5%;">
                            <span ng-class="{expandCollapse:true, active:dictation.expanded}"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div ng-class="{dataContent:true, activeContent:dictation.expanded}">
            <table style="width:100%;">
                <tr>
                    <td style="width:50%;">
                        <div ng-switch on="dictation.status">
                            <div ng-switch-when='Not conducted'>
                                <md-button class="smallbutton" ng-click="conductDitaction(dictation._id)">Conduct Now</md-button>
                            </div>
                            <div ng-switch-when='Conducted'>
                                <md-button class="smallbutton" ng-click="viewDitaction(dictation._id)">view status</md-button>
                            </div>
                        </div>
                    </td>
                    <td style="font-size: 14px;width:34%;">
                        created on: {{dictation.date}}
                    </td>
                    <td style="width:10%;">
                        <img alt="" style="height:20px;width:20px" ng-click="EditDictation(dictation._id)" src="done.png">
                    </td>
                    <td>
                        <img alt="" style="height:20px;width:20px" ng-click="DeleteDictation(dictation._id)" src="delete.svg">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- </div> -->
    <div layout="column" id="footer" style="margin-top:5px" flex>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
            <table>
                <tr>
                    <td>
                        Conduct Dictation
                    </td>
                    <td>
                        <div ng-click="distributeDictation(directiveCtrl.studentgroupdetails)" class="round-button-circle md-icon-button">
                            <img alt="" style="height:40px;width:40px" src="search.svg">
                        </div>
                    </td>
                </tr>
            </table>
            <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
        </div>
    </div>
</div>