.accordionDropDown{
	margin : 0.8em 0.5em 1.1em 1.5em
}
.faqAnswerRepeat .md-accordion .activeContent{
	padding: 7px;
}
.md-accordion .dataContents {
  background: #FFFFFF;
  height:0px;
  overflow:hidden;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}