<md-content flex class="md-padding center body-bg forumPage" >
	<div layout="column" flex>
		<div flex layout="column">
			<md-whiteframe  class="md-whiteframe-1dp"  flex-sm="45" flex-gt-sm="35" style= "margin:5px;background-color:#ffffff" flex-gt-md="25" flex >
				<div class="md-accordion" flex
	               ng-repeat = "messageData in messageDetails">
					<md-toolbar 
					  ng-click="collapseAll(messageData)">
					 <div  ng-class="{'selectedAccordionHeadColorFaq' : messageData.expanded, 'normalAccordionHeadColor' : !messageData.expanded}" >
					     <span class = "accordionIcon" ng-class="{expandCollapse:true, active:messageData.expanded}"></span> 
					      <h2 class= "accordionDropDown">
					         <span>{{messageData.message.question}}</span>

					     </h2>
					     <span flex=""></span>
					 </div>
					</md-toolbar>
					<div class = "faqAnswerRepeat" ng-repeat = "replyMessages in messageData.message.reply |  filter:{ faqStatus: 'true' }" ng-class="{dataContents:true, activeContent:messageData.expanded}"
					  flex  layout="row" 
					  layout-align="center center">
					<md-divider></md-divider>
					<div flex layout="column">
						<div layout="column" flex="40" class="forumSubDescription" style="margin-left:60px;">
							<div flex="40">
					  			{{replyMessages.title}}
					  		</div>
						</div>
					</div> 
					</div>
	 			</div>
			</md-whiteframe>

		</div>
	</div>



</md-content>
