<div ng-cloak="" class="tabsdemoDynamicHeight" ng-app="MyApp">
   <md-content>
      <md-tabs md-dynamic-height="" md-border-bottom="">
         <!-- PDF -->
         <md-tab label="pdf" md-on-select="initpdf()">
            <md-content class="md-padding">
               <div flex>
                  <pdfviewer src="{{pdfLinksUrl}}" on-page-load='pageLoaded( total)' id="viewer" load-progress='loadProgress(loaded, total, state)' style="width:800px"></pdfviewer>
               </div>
            </md-content>
         </md-tab>

         <md-tab label="Web Links" md-on-select="initWeblink()">
            <md-content class="md-padding">
               <h1 class="md-display-2">web Links</h1>
               <div layout="row">
                  <div flex=50>
                     <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch=""  class="userInputs" ng-repeat="weblink in webLinksDiv1">
                        <md-card-title>
                           <md-card-title-text>
                              <div class="showWebLink">
                                 <div><label>Note : {{weblink.note}}</label><br><label>URL :<a href="">{{weblink.url}}</a></label></div>
                              </div>
                           </md-card-title-text>
                           <md-card-title-media>
                              <div class="md-media-md card-media"></div>
                           </md-card-title-media>
                        </md-card-title>
                     </md-card>
                  </div>
                  <div flex=50>
                     <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch=""  class="userInputs" ng-repeat="weblink in webLinksDiv2">
                        <md-card-title>
                           <md-card-title-text>
                              <div class="showWebLink">
                                 <div><label>Note : {{weblink.note}}</label><br><label>URL :<a href="">{{weblink.url}}</a></label></div>
                              </div>
                           </md-card-title-text>
                           <md-card-title-media>
                              <div class="md-media-md card-media"></div>
                           </md-card-title-media>
                        </md-card-title>
                     </md-card>
                  </div>
               </div>
            </md-content>
         </md-tab>
         <md-tab label="Refference Books">
            <md-content class="md-padding">
               <h1 class="md-display-2">Refereal books</h1>
               <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch=""  class="userInputs"  ng-repeat="booklink in bookLinks">
                  <md-card-title>
                     <md-card-title-text>
                        <div class="showBookLink" >
                           <div><label>Book Name : {{booklink.book_name}}</label><br><label>Author Name :{{booklink.author_name}}</label><br><label>Publisher : {{booklink.publisher}}</label><br><label>ISBN :{{booklink.ISBN}}</label><br><label>WEB URL :<a href="">{{booklink.web_link}}</a></label></div>
                        </div>
                     </md-card-title-text>
                     <md-card-title-media>
                        <div class="md-media-md card-media"></div>
                     </md-card-title-media>
                  </md-card-title>
               </md-card>
            </md-content>
         </md-tab>
         <md-tab label="Video assets" md-on-select="init()">
            <md-content class="md-padding">
               <h1 class="md-display-2">Video Links</h1>
               <div layout="row">
                  <div flex=30>
                     <div id="space-for-video">
                     </div>
                  </div>
                  <div flex=70>
                     <div layout="column">
                        <div flex=70>
                           <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch=""  class="userInputs"  >
                              <md-card-title-media>
                                 <div class="md-media-md card-media">
                                    <div class="playVideoFrame" >
                                    </div>
                                 </div>
                              </md-card-title-media>
                           </md-card>
                        </div>
                        <div flex=30>
                           <div ng-cloak>
                              <md-content>
                                 <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="Note">
                                       <md-content class="md-padding">
                                          <p class="videoNote"></p>
                                       </md-content>
                                    </md-tab>
                                    <md-tab label="Recent watch video" md-on-select="pervious()">
                                       <md-content class="md-padding">
                                          <h1 class="md-display-2">Recent watch video</h1>
                                          <div id="space-for-previous-video">
                                          </div>
                                       </md-content>
                                    </md-tab>
                                 </md-tabs>
                              </md-content>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </md-content>
         </md-tab>
      </md-tabs>
   </md-content>
</div>