<div layout="column" class="maindiv" layout-padding flex >
  <!--  <div layout="column" layout-padding flex > -->
      <div layout="row" flex layout-xs="column">
         <div layout="row" flex id="rcorners2">
            <div  flex>
               <div style="margin-top:20px;">
               <md-card-title  >
                  <label>All Students</label> 
                  <md-divider ></md-divider>
               </md-card-title>
               </div>
               <md-card-title >
                  <div flex >
                     <table style="width:100%;">
                        <tr>
                           <td style="width:90%;">
                              <md-input-container style="width:90%;">
                                 <label>Search</label>
                                 <input ng-model="Search">
                              </md-input-container>
                           </td>
                        </tr>
                     </table>
                  </div>
               </md-card-title>
              <!--  <ul  style="min-height: 17px;width:100%;"  data-as-sortable="dragControlListeners" ng-model="studentdetailss">
                  <li  ng-repeat="studentitem in studentdetailss " data-as-sortable-item data-as-sortable-item-handle></li>
               </ul> -->
               <div  style="min-height: 15px;" layout="column" flex as-sortable="sortableCloneOptions1"  ng-model="studentdetailss" >
                  <div id="rcorners7" flex  ng-repeat="studentitem in studentdetailss | filter : Search" as-sortable-item >
                     <div flex as-sortable-item-handle  >
                        <i class="material-icons">group</i>
                        {{studentitem.username}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div layout="row" id="rcorners2" flex layout-sm ="column">
            <div  flex>
                <div style="margin-top:20px;">
               <md-card-title>
                  <label>Create New Group</label>                              
                  <md-divider ></md-divider>
               </md-card-title>
            </div>
               <md-card-title>
                  <div flex >
                     <table style="width:100%;">
                        <tr>
                           <td style="width:80%;">
                              <md-input-container style="width:80%;">
                                 <label>Group Name</label>
                                 <input  ng-model="groupName">
                              </md-input-container>
                           </td>
                           <td style="width:20%">
                              <md-button class="button" ng-if="directiveCtrl.saveButtonVisible" aria-label="questionCount.count" ng-click="saveGroup()">Save</md-button>
                              <md-button class="button" ng-if="directiveCtrl.updateButtonVisible" aria-label="questionCount.count" ng-click="updateGroup()">Update</md-button>
                           </td>
                        </tr>
                     </table>
                  </div>
               </md-card-title >
               <!-- <div   id="rcorners12" > -->
                  <!-- <ul style="min-height: 15px;"  data-as-sortable="dragControlListeners" ng-model="studentNewGroup">
                     <li  ng-repeat="studentname in studentNewGroup" data-as-sortable-item data-as-sortable-item-handle></li>
                  </ul> -->
                  <div  style="min-height: 15px;"  flex as-sortable="sortableCloneOptions1"  ng-model="studentNewGroup" >
                     <md-radio-group ng-model="studentNewGroup._id"  >
                        <div   ng-repeat="studentname in studentNewGroup" as-sortable-item  >
                           <div as-sortable-item-handle id="rcorners11" >
                            
                              <table style="width:100%;">
                                 <tr>
                                    <td>
                                       <i class="material-icons">group</i>
                                    </td>
                                    <td style="width:70%">
                                       {{studentname.username}}
                                    </td>
                                    <td>
                                       <i class="material-icons">group</i>
                                    </td>
                                    <td>
                                       <md-radio-button ng-click="checkTest(studentname._id , studentname.username)" ng-value="studentname._id">   </md-radio-button>
                                    </td>
                                 </tr>
                              </table>
                           
                           </div>
                        </div>
                     </md-radio-group>
                  </div>
               <!-- </div> -->   
            </div>
         </div>
      </div>
   <!-- </div> -->
</div>
<!-- 
   <td>
               <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
              <md-button class="button"  aria-label="questionCount.count" ng-click="editStudentGroup(groupdetails._id)">Edit</md-button>
              <md-button class="button"  aria-label="questionCount.count" ng-click="deleteStudentGroup(groupdetails._id)">Delete</md-button>
             
           </td> -->
<!-- 
   <div layout="column" class="secondrow" layout-xs="column">
      <div layout="row" layout-xs="column">
         <div layout="column" flex id="rcorners2">
            <md-card-title>
               <md-button class="button" ng-click="AddNewData()" aria-label="Learn More">
                  Add Group
               </md-button>
            </md-card-title>
            <div layout="column" flex class="wide" id="rcorners1" >
               <ul style="min-height: 5px;"  data-as-sortable="dragControlListeners" ng-model="studentdetailss">
                  <li  ng-repeat="studentitem in studentdetailss" data-as-sortable-item data-as-sortable-item-handle></li>
               </ul>
               <div  flex as-sortable="sortableCloneOptions1"  ng-model="studentdetailss" >
                  <div   ng-repeat="studentitem in studentdetailss" as-sortable-item >
                     <div as-sortable-item-handle id="rcorners7" >
                        {{studentitem.username}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div  id="rcorners2" flex >
            <md-card-title>
               <div>
                  <md-input-container>
                     <label>GroupName</label>
                     <input ng-model="directiveCtrl.groupName">
                  </md-input-container>
                  <md-button class="button" ng-if="directiveCtrl.saveButtonVisible" aria-label="questionCount.count" ng-click="saveGroup()">Save</md-button>
                  <md-button class="btnNav" ng-if="directiveCtrl.updateButtonVisible" aria-label="questionCount.count" ng-click="updateGroup()">Update</md-button>
               </div>
            </md-card-title >
            <div flex class="wide" id="rcorners12" >
               <ul style="min-height: 40px;"  data-as-sortable="dragControlListeners" ng-model="studentNewGroup">
                  <li  ng-repeat="studentname in studentNewGroup" data-as-sortable-item data-as-sortable-item-handle></li>
               </ul>
               <div  flex as-sortable="sortableCloneOptions1"  ng-model="studentNewGroup" >
                  <md-radio-group ng-model="studentNewGroup._id"  >
                     <div   ng-repeat="studentname in studentNewGroup" as-sortable-item id="rcorners11" >
                        <div as-sortable-item-handle  >
                           <md-radio-button ng-click="checkTest(studentname._id , studentname.username)" ng-value="studentname._id">  {{studentname.username}} </md-radio-button>
                        </div>
                     </div>
                  </md-radio-group>
               </div>
            </div>
          
         </div>
      </div>
   </div> -->
<!--   <ul  style="min-height: 90px;"  data-as-sortable="dragControlListeners" ng-model="studentNewGroup"><md-radio-group ng-model="studentNewGroup._id"  ><li   id="rcorners4"   ng-repeat="studentname in studentNewGroup" data-as-sortable-item data-as-sortable-item-handle ><md-radio-button ng-click="checkTest(studentname._id , studentname.username)" ng-value="studentname._id">  {{studentname.username}} </md-radio-button></li></md-radio-group></ul>   -->