<md-toolbar layout="row" class="md-hue-2 nav-head" scroll ng-cloak>
  <div md-whiteframe="1" class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <div layout="row" class="nav-left">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
        <i class="material-icons md-hue-2">reorder</i>
      </md-button>
      <div class="logoImg">
        <img src="{{logo}}">
      </div>
    </div>
      



    <div layout="row" class="nav-right">
      <div>{{name}}</div>
      <div class="menu-demo-container" layout-align="center center" layout="column" ng-cloak>
        <div class="menu-demo-container" layout-align="center center" layout="column" ng-cloak>
          <md-menu md-position-mode="target-right target">
<!--             <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="headerCtrl.openMenu($mdOpenMenu, $event)">
              <i ng-hide="headerCtrl.displayIcon" class="material-icons userName iconColor md-hue-2">more_vert</i>
              <span ng-if="headerCtrl.displayIcon"><img class="img-circle" src="{{headerCtrl.displayIcon}}" /></span>
            </md-button> -->
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="headerCtrl.openMenu($mdOpenMenu, $event)">
              <img src="images/icons/icollaborate.png">
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ui-sref="forum">
                  <!-- <i class="material-icons headerIconTop iconColor">person</i> -->
                  <span class="headerIconLeft" >Forum</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ui-sref="faq">
                  <!-- <i class="material-icons headerIconTop iconColor">person</i> -->
                  <span class="headerIconLeft" >FAQ</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ui-sref="survey">
                  <!-- <i class="material-icons headerIconTop iconColor">Survey</i> -->
                  <span class="headerIconLeft new_space iconColor" >Survey</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>

        <!-- <md-button aria-label="Open phone interactions menu" class="md-icon-button"  ui-sref="forum()">
          <img src="images/icons/icollaborate.png">
        </md-button> -->
      </div>
      <div class="menu-demo-container notifications" layout-align="center center" layout="column" ng-cloak>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button">
          <i class="material-icons md-hue-2">notifications</i>
        </md-button>
        <div class="notificationsItems">5</div>
      </div>
      <div class="menu-demo-container profilePic" layout-align="center center" layout="column" ng-cloak>
        <md-button aria-label="Open phone interactions menu" class="md-icon-button">
          <img src="images/icons/student_profile.png">
        </md-button>
      </div>
        <div class="menu-demo-container" layout-align="center center" layout="column" ng-cloak>
          <md-menu md-position-mode="target-right target">
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="headerCtrl.openMenu($mdOpenMenu, $event)">
              <i ng-hide="headerCtrl.displayIcon" class="material-icons userName iconColor md-hue-2">more_vert</i>
              <span ng-if="headerCtrl.displayIcon"><img class="img-circle" src="{{headerCtrl.displayIcon}}" /></span>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ui-sref="myProfile">
                  <i class="material-icons headerIconTop iconColor">person</i>
                  <span class="headerIconLeft ">My Profile</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="headerCtrl.logoutSession()">
                  <i class="material-icons headerIconTop iconColor">power_settings_new</i>
                  <span class="headerIconLeft new_space iconColor" ng-click="headerCtrl.logoutSession()">Logout</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
    </div>

    
  </div>
</md-toolbar>