.nav-head .logoImg img{
	max-height: 40px;
}
.nav-head .logoImg {
	padding-left: 10px;
}
.nav-head .nav-left .material-icons{
	font-size: 31px;
}
.nav-head .nav-left .md-button.md-icon-button{
	height: 48px;
	width: 48px;
}
.nav-head .nav-right img{
	padding-top: 2px;
}
.nav-head .nav-right .notifications .notificationsItems {
	background-color: #1860aa;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    padding-left: 5px;
    border-radius: 50%;
    margin: 0;
    padding-right: 5px;
}
.nav-head .nav-right .notifications {
	position: relative;	
}
.headerIconTop {
	padding-top: 12px;
    padding-right: 10px;
}
.nav-head .nav-right .profilePic img{
	width: 100%;
    border-radius: 50%;
}