<div layout-align="center center" layout="row" flex="33" class="completeDiv">
  <div flex class="md-whiteframe-7dp top_margin">
    <div class="md-color md-padding" flex layout-align="center center" layout="row">
      <img class="logo" src="images/logo2.svg" />
    </div>
    <div class="layout layout-sm layout-sm-column md-padding setHeight forPass">
      <md-input-container class="flex md-default-theme">
        <label for="input_175"> Enter Registered Email ID </label>
        <input autofocus="true" ng-model="forgotPassword.credentials.email" maxLength="35" class="ng-pristine ng-valid md-input ng-touched" id="input_175" ng-keyup="forgotPassword.checkEnter($event)" aria-invalid="false" style="">
        <error-msg msg="errors.email"></error-msg>
      </md-input-container>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="forgotPassword.getPassword()" type="button"><span class="ng-scope"> Submit </span></button>
      <span></span>
      <div ng-show="forgotPassword.loadingImage" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </section>
    <div class="forgot_con md-padding">
      <span class="forgot"> <a ui-sref="login"> Login  </a> </span>
    </div>
  </div>
</div>
