<div layout="column" flex flex-gt-xs="40" flex-gt-md="33">

  <div flex>

    <div class="md-color md-padding" flex layout-align="center center" layout="row">
      <img class="logo" src="images/logo2.svg" />
    </div>



    <div flex class="md-padding rcorners1" style="margin-left:80px;margin-right:80px;" layout-align="center center">
      <div class="layout layout-sm layout-sm-column md-padding setHeight">
        <md-input-container class="flex md-default-theme">
          <label for="input_175"> Email </label>
          <input autofocus="true" ng-model="accountLogin.newUser.email" ng-focus="errors.email = ''" maxlength="35" class="ng-pristine ng-valid md-input ng-touched" id="input_175" aria-invalid="false" style="">
          <error-msg msg="errors.email"></error-msg>
        </md-input-container>
      </div>
      <div class="md-padding">
        <div layout layout-sm="column" class="setHeight">
          <md-input-container flex>
            <label> Password </label>

            <input ng-model="accountLogin.newUser.password"  ng-focus="errors.password = ''"  maxlength="18" type="password" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" ng-keyup="accountLogin.checkEnter($event)" style="">

            <error-msg msg="errors.password"></error-msg>
          </md-input-container>
        </div>
      </div>
       <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row txtpad">
      <button class="md-raised md-primary md-button md-ink-ripple loginbtn"  ng-click="accountLogin.loginUser();" type="button" ng-disabled="accountLogin.isDisabled"><span class="ng-scope"> Login </span></button>
     <timer ng-show="showTimer" interval="1000" countdown="60" finish-callback="finished()">{{countdown}}</timer>
    </section>
    </div>
   
     <span style="color: red" ng-if="accountLogin.showTimer">
        Oops! You have exceeded the maximum number of Login Attempts. Please login after 30 Seconds
      </span>
    <div class="forgot_con md-padding">
      <span class="forgot"> <a ui-sref="forgotPassword"> Forgot password </a> </span>
    </div>
  </div>
</div>
