<div layout-align="center center" layout="row" flex="33" class="completeDiv">
  <div flex class="md-whiteframe-7dp top_margin">
    <div class="md-color md-padding" flex layout-align="center center" layout="row">
      <img class="logo" src="images/logo2.svg" />
    </div>
    <div class="layout layout-sm layout-sm-column md-padding setHeight">
      <md-input-container class="flex md-default-theme">
        <label for="input_175"> New Password </label>
        <input ng-model="resetPasswordCntl.new_password" type="password" class="ng-pristine ng-valid md-input ng-touched" id="input_175">
        <error-msg msg="errors.new_password"></error-msg>
      </md-input-container>
    </div>
    <div class="md-padding">
      <div layout layout-sm="column" class="setHeight">
        <md-input-container flex>
          <label> Confirm Password </label>
          <input ng-model="resetPasswordCntl.confirm_password" class="ng-pristine ng-valid md-input ng-touched" id="input_176" type="password" aria-invalid="false" ng-keyup="resetPasswordCntl.checkEnter($event)" style="">
          <error-msg msg="errors.confirm_password"></error-msg>
        </md-input-container>
      </div>
    </div>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row">
      <button class="md-raised md-primary md-button md-ink-ripple" ng-click="resetPasswordCntl.resetPasswordByToken()" type="button"><span class="ng-scope"> Reset Password </span></button>
      <section layout="row" layout-sm="column" layout-align="center center" layout-wrap="" class="layout-wrap layout-sm-column layout-align-center-center layout-row"></section>
      <div ng-show="forgotPassword.loadingImage" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
    </section>
    <div class="forgot_con md-padding">
      <span class="forgot"> <a ui-sref="login"> Login </a> </span>
    </div>
  </div>
</div>
