 <div class="lock-size sidenavBottom" layout="row" layout-align="end end" ng-cloak flex>
      <md-fab-speed-dial md-open="sidenavBottomCtrl.isOpen" md-direction="{{sidenavBottomCtrl.selectedDirection}}"
                         ng-class="sidenavBottomCtrl.selectedMode">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-warn">
          
          <i class="material-icons">add</i>
        </md-button>
      </md-fab-trigger>

      <md-fab-actions>
        <div ng-repeat="item in sidenavBottomCtrl.items">
          <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="{{item.direction}}" md-visible="tooltipVisible" md-autohide="false">
              {{item.name}}
            </md-tooltip>
            <i class="material-icons">{{item.icon}}</i>
          </md-button>
        </div>
      </md-fab-actions>
    </md-fab-speed-dial>
  </div>