.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }
.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }
.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }
.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; 
}

.sidenavBottom md-fab-actions i{
  line-height: 1.5;
  font-size: 26px;
}
.sidenavBottom md-fab-trigger i{
  line-height: 2;
  font-size: 28px;
}
.sidenavBottom md-fab-speed-dial{
  margin-right: 18%;
}