<div flex style="background:white;overflow: auto;" layout="column" layout-margin="3px" layout-padding="10px">
    <div flex data-ng-init="getAllStudentGroup()">
        <div class="md-accordion1" flex ng-repeat="quesDetail in quesTypes track by $index">
            <div ng-init="getGroupName=getstudentGroup(quesDetail.group[0])"></div>
            <!-- {{quesDetail}} -->
            <md-toolbar ng-click="collapseAll(quesDetail,quesDetail.group[0])">
                <div ng-class="{'selectedAccordionHeadColor1' : quesDetail.expanded, 'normalAccordionHeadColor1' : !quesDetail.expanded}">
                    <h2>
                         <span>{{getGroupName}}</span>
                         <label ng-if="quesDetail.count>0" style="padding: 10px;"> - ({{quesDetail.count}}) </label>
                     </h2>
                    <span flex=""></span>
                    <span ng-class="{expandCollapse:true, active:quesDetail.expanded}"></span>
                </div>
            </md-toolbar>
            <div ng-class="{dataContent:true, activeContent:quesDetail.expanded}" flex layout="row" layout-align="center center">
                    <div flex layout="column" style="padding: 5px;">
                        <div ng-repeat="studentDetail in studentArray">
                            <div layout="row" layout-align="space-between start">
                                <div flex=80>
                                    <p>{{studentDetail.name}}</p>
                                </div>
                                <div flex=20 ng-switch on="quesDetail.answer[$index].status">
                                    <div ng-switch-when='not Submited'>
                                        <table>
                                            <tr>
                                                <td style="width:20px;">
                                                    <div>
                                                        <img alt="" style="height:20px;width:20px" src="group.png">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <img alt="" style="height:20px;width:20px" src="done.png">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div ng-switch-when='submitted'>
                                        <table>
                                            <tr>
                                                <td style="width:20px;">
                                                    <div>
                                                        <img alt="" style="height:20px;width:20px" src="tick mark.png">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <img alt="" style="height:20px;width:20px" src="done.png">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>