<div layout="column" flex style="height:70vh">
    <div layout="column" layout-gt-xs="row" flex class="overFlowContainer">
        <!-- <div layout="row" flex >  -->
        <div layout="column" flex="40" style="background:white;margin: 5px;max-height:100%;" class="md-whiteframe-5dp md-padding " flex-gt-xs="25">
            <div style="overflow: auto;height:50vh" flex="70" flex-gt-xs>
                <div flex ng-repeat="questionCount in totalQuestion" style="display: inline-block;" layout-align="center center">
                    <md-button style="margin: 3px;" class="{{questionCount.status}}" aria-label="questionCount.count" ng-click="changeQuestion($index)">{{questionCount.count}}</md-button>
                </div>
            </div>
            <div flex flex-gt-xs layout-align="center center">
                <div layout="row" layout-gt-xs="column" layout-align="center start" flex>
                    <div layout="row" style="padding: 5px;padding-top: 10px;" layout-align="start center" flex>
                        <div class="circleSubmit"></div>
                        <label>Attempted</label>
                    </div>
                    <div layout="row" style="padding: 5px" layout-align="start center" ng-show="!isPracticeTest" flex>
                        <div class="circleReview"></div>
                        <label>Mark for Review</label>
                    </div>
                    <div layout="row" style="padding: 5px;padding-bottom: 10px;" layout-align="start center" flex>
                        <div class="circleNormal"></div>
                        <label>Not Attempted</label>
                    </div>
                </div>
                <div ng-show="isPracticeTest" layout="row" flex layout-align="center center" style="margin-left: 10px;margin-right:10px ">
                    <div flex="60" class="md-whiteframe-1dp md-padding" style="color: #9E9E9E;padding: 10px;text-align: center;" layout-align="center center">
                        Score
                    </div>
                    <div flex="40" class="md-whiteframe-1dp md-padding" style="color: #009688;padding: 10px;font-weight: bold;text-align: center;" layout-align="center center">
                        {{score}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Questions -->
        <div flex="60" layout="column" flex-gt-xs="75" style="background:white;margin: 5px;max-height:100%;" class="md-whiteframe-5dp md-padding overFlowContainer">
            <header>
                <div layout="row" layout-align="space-between center" style="background: white;" flex>
                    <div layout-align="start center">
                        <p style="color: #9E9E9E"> Question :
                            <label style="color:#009688">{{indexToShow+1}}</label>
                        </p>
                    </div>
                    <div ng-show="isPracticeTest" layout-align="end center">
                        <p style="color: #9E9E9E"> Time Taken :
                            <label style="color:#009688">{{timerWithTimeout | hhmmss}}</label>
                        </p>
                    </div>
                    <div ng-show="!isPracticeTest" layout-align="end center">
                        <p style="color: #9E9E9E"> Time Remaining :
                            <label style="color:#009688">{{remainingTime}}</label>
                        </p>
                    </div>
                </div>
            </header>
            <div flex>
                <!-- Directive to get the Questions class="overFlowContainer"-->
                <question-directive></question-directive>
            </div>
            <!-- Explanation of the question -->
            <div flex ng-repeat="question in questions track by $index" ng-show="$index == indexToShow && isPracticeTest">
                <div flex ng-switch="question.type" layout="column">
                    <!-- MCQ -->
                    <p style="color:#009688">{{resultStatus}}</p>
                    <div ng-switch-when="MCQ">
                        <div ng-switch="question.pattern">
                            <div ng-switch-when="single">
                                <div ng-model="ansExplanation">
                                    <p class="rowDiv">{{ansExplanation}}</p>
                                </div>
                            </div>
                            <div ng-switch-when="multiple">
                                <!-- <div ng-repeat="choice in question.choice">
                              <p class="rowDiv">{{errorMrQues[choice.desc].msg}}</p>
                           </div> -->
                                <p class="rowDiv">{{ansExplantionMR}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- TF -->
                    <div ng-switch-when="TF">
                        <div ng-model="ansExplanation">
                            <p class="rowDiv">{{ansExplanation}}</p>
                        </div>
                    </div>
                    <!-- FIB -->
                    <div ng-switch-when="FIB">
                        <!-- <div ng-repeat="choice in question.answer">
                        <p class="rowDiv">{{errorFib[choice.desc].msg}}</p>
                     </div> -->
                        <p class="rowDiv">{{ansExplantionFIB}}</p>
                    </div>
                    <!-- MTF -->
                    <div ng-switch-when="MTF">
                        <!-- <div ng-repeat="question in quesData">
                        <p class="rowDiv">{{errorMtf[question.tag].msg}}</p>
                     </div> -->
                        <p class="rowDiv">{{ansExplantionMTF}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div layout="row" flex style="background:white;" layout-align="center center">
        <div ng-show="isPracticeTest">
            <md-button class="md-raised md-primary" ng-click="submitQuestion()" ng-disabled="!isOptionSelected">{{actionBtnName}}</md-button>
        </div>
        <div flex layout="row" ng-repeat="questionCount in totalQuestion" ng-show="$index == indexToShow && !isPracticeTest" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="loadPrevQues()" ng-show="indexToShow>0">Prev</md-button>
            <md-button class="md-raised md-primary" ng-click="reviewQuestion()">{{questionCount.label}}</md-button>
            <md-button class="md-raised md-primary" ng-click="submitQuizQuestion()" ng-disabled="isSubmitted" ng-hide="indexToShow<(totalQuestiontoShow-1)">Submit</md-button>
            <md-button class="md-raised md-primary" ng-click="loadNextQues()" ng-show="indexToShow<(totalQuestiontoShow-1)">Next</md-button>
        </div>
    </div>
</footer>
