    v-accordion,
v-pane {
    display: block
}

v-pane.is-expanded>v-pane-content>div {
    display: visible
}

v-pane[disabled]>v-pane-header {
    opacity: .6;
    pointer-events: none
}

v-pane-header {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0
}

v-pane-header:focus {
    outline: 0
}

v-pane-header>div {
    display: block
}

v-pane-content {
    display: block;
    position: relative;
    overflow: hidden;
    max-height: 0
}

v-pane-content>div {
    visibility: none
}

.vAccordion--default v-accordion {
    margin-top: 20px;
    padding-left: 20px
}

.vAccordion--default v-pane-content>div {
    padding-bottom: 20px;
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: all .5s;
    transition: all .5s
}

.vAccordion--default v-pane {
    overflow: hidden
}

.vAccordion--default v-pane.is-expanded>v-pane-header {
    border-bottom-color: #2196F3
}

.vAccordion--default v-pane.is-expanded>v-pane-header::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0
}

.vAccordion--default v-pane.is-expanded>v-pane-header::before {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
}

.vAccordion--default v-pane.is-expanded>v-pane-content>div {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.vAccordion--default v-pane[disabled] v-pane-header::after,
.vAccordion--default v-pane[disabled] v-pane-header::before {
    display: none
}

.vAccordion--default v-pane-header {
    padding: 5px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #D8D8D8;
    -webkit-transition: all .25s;
    transition: all .25s
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 1px;
    background-color: #2196F3;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    will-change: transform;
    -webkit-transition: all .25s;
    transition: all .25s
}

.vAccordion--default v-pane-header::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.vAccordion--default v-pane-header:focus,
.vAccordion--default v-pane-header:hover {
    color: #2196F3
}

.ibtPage .ibtSubhead {
    font-size: 12px color: #B2B2B2;
}

.ibtPage .ibtSubhead span {
    color: #305B7B;
}

.ibtPage v-accordion {
    margin-bottom: 2px;
    margin-top: 20px;
}

.ibtPage .vHeader h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-align: right;
    padding-right: 25px;
}

.ibtPage .vHeader,
.ibtPage .selectbox {
    -moz-box-shadow: inset 0 0 10px #ccc;
    -webkit-box-shadow: inset 0 0 10px #ccc;
    box-shadow: inset 0 0 10px #ccc;
    border-bottom: none;
}

.ibtPage .vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
    background-color: #000;
    right: 10px!important;
}

.ibtPage v-pane-content {
    height: 118px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*.ibtPage md-radio-button{
	margin-bottom: 0px;
}

.ibtPage md-radio-button .md-label{
	height: 40px;
}
.ibtPage md-radio-button .ng-scope{
	height: 30px;
    padding-top: 10px;
    border-left: solid thin #ccc;
    padding-left: 10px;
}
.ibtPage md-radio-button .md-container{
	left: 5px;
}*/


.ibtPage md-tabs md-tab-item {
    /*width: 33.33%;*/
}

.ibtPage md-tabs md-ink-bar {
    display: none;
}

.ibtPage md-tabs md-pagination-wrapper .md-active {
    background-color: #ffffff!important;
}

.ibtPage md-tabs md-pagination-wrapper .md-tab {
    background-color: #D5F8FE;
    color: #000!important;
}

.ibtPage md-tabs md-content {
    background-color: #fff;
}

.ibtPage md-tabs md-tabs-canvas {
    height: 38px;
}

.ibtPage md-tabs md-tabs-canvas md-tab-item {
    padding-top: 8px;
}

.ibtPage md-tabs md-tabs-wrapper {
    border-bottom: none;
}

.ibtSubmit {
    display: inline-block;
    padding: 1px;
    font-weight: bold;
    background-color: white;
    border-color: #BDBDBD;
    border: 2px solid;
    color: #757575;
    border-radius: 50%;
    min-width: 32px;
    width: 36px;
    height: 36px;
    line-height: 32px;
    margin: 2px;
    content: url("/icons/ic_done_black.png");
}