<md-content layout="row" layout-sm="column" layout-align="space-around" class="ibtPage">
  <div flex-gt-sm="30" class="bg-white md-padding">
  </div>
  <div flex-gt-sm="65" class="bg-white md-padding">
    <div layout="row" layout-align="space-between start" class="ibtSubhead">
      <div>Passage <span>1</span></div>

      <div>Time Taken: <span>00:05:07</span></div>
    </div>
    <v-accordion id="accordionA" class="vAccordion--default" control="accordionA" onexpand="expandCallback(index, id)" oncollapse="collapseCallback(index, id)">
      <v-pane id="{{ ::pane.id }}" ng-repeat="pane in panesA" expanded="pane.isExpanded">
        <v-pane-header id="{{ ::pane.id }}-header" aria-controls="{{ ::pane.id }}-content" class="vHeader ">
          <h5>{{ ::pane.header }}</h5>
        </v-pane-header>
        <v-pane-content id="{{ ::pane.id }}-content" aria-labelledby="{{ ::pane.id }}-header">
          <p>{{ ::pane.content }}</p>
          <v-accordion id="nestedAccordionA" ng-if="pane.subpanes">
            <v-pane id="{{ ::subpane.id }}" ng-repeat="subpane in pane.subpanes" ng-disabled="subpane.isDisabled">
              <v-pane-header id="{{ ::subpane.id }}-header" aria-controls="{{ ::subpane.id }}-header">
                <h5>{{ ::subpane.header }}</h5>
              </v-pane-header>
              <v-pane-content id="{{ ::subpane.id }}-content" aria-labelledby="{{ ::subpane.id }}-content">
                <p>{{ ::subpane.content }}</p>
              </v-pane-content>
            </v-pane>
          </v-accordion>
        </v-pane-content>
      </v-pane>
    </v-accordion>
    <div layout="column" flex class="passageCnt">
      <p>Vijay and Sam were going to the beach with_families. They where planning_the evening there. </p>

       <md-tabs md-dynamic-height md-border-bottom class="md-whiteframe-3dp">
        <md-tab label="one">
          <md-content class="md-padding">
            <div class="selectbox" flex>
              <md-radio-group ng-model="data.group1">
                <md-radio-button value="Apple" class="md-primary"><div>Apple</div></md-radio-button>
              </md-radio-group>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="two">
          <md-content class="md-padding">
            <div class="selectbox" flex>
              <md-radio-group ng-model="data.group1">
                <md-radio-button value="Orange" class="md-primary"><div>Orange</div></md-radio-button>
              </md-radio-group>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="three">
          <md-content class="md-padding">
            <div class="selectbox" flex>
              <md-radio-group ng-model="data.group1">
                <md-radio-button value="grape" class="md-primary"><div>grape</div></md-radio-button>
              </md-radio-group>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</md-content>
