<div layout="column" flex style="height:70vh" ng-init="getQuestionList()">
    <div layout="column" layout-gt-xs="row" flex class="overFlowContainer">
        <!-- <div layout="row" flex >  -->
        <div layout="column" flex="40" style="background:white;margin: 5px;max-height:100%;" class="md-whiteframe-5dp md-padding " flex-gt-xs="25">
            <div style="overflow: auto;height:50vh" flex="70" flex-gt-xs>
                <div flex ng-repeat="questionCount in totalQuestion" style="display: inline-block;" layout-align="center center">
                    <md-button style="margin: 3px;" class="{{questionCount.status}}" aria-label="questionCount.count" ng-click="changeQuestion($index)">{{questionCount.count}}</md-button>
                </div>
            </div>
            <div flex flex-gt-xs layout-align="center center">
                <div layout="row" layout-gt-xs="column" layout-align="center start" flex>
                    <div layout="row" style="padding: 5px;padding-top: 10px;" layout-align="start center" flex>
                        <div class="circleSubmit"></div>
                        <label>Attempted</label>
                    </div>
                    <div layout="row" style="padding: 5px;padding-bottom: 10px;" layout-align="start center" flex>
                        <div class="circleNormal"></div>
                        <label>Not Attempted</label>
                    </div>
                </div>
                <div ng-show="isPracticeTest" layout="row" flex layout-align="center center" style="margin-left: 10px;margin-right:10px ">
                    <div flex="60" class="md-whiteframe-1dp md-padding" style="color: #9E9E9E;padding: 10px;text-align: center;" layout-align="center center">
                        Score
                    </div>
                    <div flex="40" class="md-whiteframe-1dp md-padding" style="color: #009688;padding: 10px;font-weight: bold;text-align: center;" layout-align="center center">
                        {{score}}
                    </div>
                </div>
            </div>
        </div>
        <!-- Questions -->
        <div flex="60" layout="column" flex-gt-xs="75" style="background:white;margin: 5px;max-height:100%;" class="md-whiteframe-5dp md-padding overFlowContainer">
            <header>
                <div layout="row" layout-align="space-between center" style="background: white;" flex>
                    <div layout-align="start center">
                        <p style="color: #9E9E9E"> Passage :
                            <label style="color:#009688">{{indexToShow+1}}</label>
                        </p>
                    </div>
                    <div layout-align="end center">
                        <p style="color: #9E9E9E"> Time Taken :
                            <label style="color:#009688">{{timerWithTimeout | hhmmss}}</label>
                        </p>
                    </div>
                </div>
            </header>
            <div flex>
                <ibt-question></ibt-question>
            </div>
        </div>
    </div>
</div>
<footer>
    <div layout="row" flex style="background:white;" layout-align="center center">
        <!-- <div>
            <label style="padding:10px;font-weight: bold;color: #616161;">Submit</label><p class="ibtSubmit" ng-click="submitQuizQuestion()" ng-disabled="!isOptionSelected"></p>
      </div> -->
        <div flex layout="row" ng-repeat="questionCount in totalQuestion" ng-show="$index == indexToShow" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="loadPrevQues()" ng-show="indexToShow>0">Prev</md-button>
            <md-button class="md-raised md-primary" ng-click="reviewQuestion()">{{questionCount.label}}</md-button>
            <md-button class="md-raised md-primary" ng-click="submitQuizQuestion()" ng-disabled="isSubmitted" ng-hide="indexToShow<(totalQuestiontoShow-1)">Submit</md-button>
            <md-button class="md-raised md-primary" ng-click="loadNextQues()" ng-show="indexToShow<(totalQuestiontoShow-1)">Next</md-button>
        </div>
    </div>
</footer>
