<div flex style="background:white;overflow: auto;" layout="column" layout-margin="3px" layout-padding="10px">
    <div flex data-ng-init="getstudentDetailsData()">
        <div class="md-accordion assignment-accordion" flex ng-repeat="quesDetail in quesTypes track by $index">
            <div ng-init="getAssignmentStatus=getStudentAssignmentStatus(quesDetail)"></div>
            <!-- {{quesDetail}} -->
            <md-toolbar ng-click="collapseAll(quesDetail,quesDetail.group[0])">
                <div ng-class="{'selectedAccordionHeadColorAssignment' : quesDetail.expanded, 'normalAccordionHeadColorAssignment' : !quesDetail.expanded}" flex  >
                <div flex layout="row"  layout-align="start center">
                <div flex=10 class="arrow" layout="row" layout-align="start center"><img src="arrow.png"></div>
                          
                    <h2 flex=90   layout="row" layout-align="start start">
                          <div  ><span>{{quesDetail.title}}</span>
                          </div>
                         <label ng-if="quesDetail.count>0" style="padding: 10px;"> - ({{quesDetail.count}}) </label>
                     </h2>
                     </div>
                    <span flex></span>
                    <span ng-class="{expandCollapse:true, active:quesDetail.expanded}"></span>
                </div>
            </md-toolbar>

            <div ng-class="{dataContent:true, activeContent:quesDetail.expanded}" flex layout="row" layout-align="center center">
              
                <div flex layout="column">
                <md-divider></md-divider>
                      <md-divider></md-divider>
                    <div flex layout="row">

                        <div flex=35 layout="row" layout-align="start center">mark :{{mark}}
                        </div>
                        <div flex=30 ng-switch on="getAssignmentStatus" layout="row" layout-align="start center">
                            <div ng-switch-when='Start Now'>
                                Status : Not Start
                            </div>
                            <div ng-switch-when='submited'>
                                Status : Not Reviewed
                            </div>
                            <div ng-switch-when='reviewd'>
                                Status : Reviewed
                            </div>
                        </div>
                        <div flex=35 ng-init="date=getDateInFormat(quesDetail.date)">
                            <p>Assigned Date:{{date }}</p>
                        </div>
                    </div>

                    <div flex layout="row" style="padding: 5px;" layout-align="start center">
                        <div flex=35 layout="row" layout-align="start center" ng-init="date=getDateInFormat(quesDetail.duedate)">Due Date :{{date}}
                        </div>
                        <div flex=35 layout="row" layout-align="start center" ng-init="date=getDateInFormat(SubmitedDate)">
                            Complete Date :{{date}}
                        </div>
                        <div flex=30 ng-switch on="getAssignmentStatus">
                            <div ng-switch-when='Start Now'>
                                <md-button class="md-raised" ng-click="getAssginmentQuestions(quesDetail._id,quesDetail.question,'startAssignment',null)"> Start Now </md-button>
                            </div>
                            <div ng-switch-when='submited'>
                                <md-button class="md-raised"> Not Reviewed </md-button>
                            </div>
                            <div ng-switch-when='reviewd'>
                                <md-button class="md-raised" ng-click="getAssginmentQuestions(quesDetail._id,quesDetail.answer,'review',$event)"> Review </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
