.assignment-accordion {
    margin: 0 !important;
    padding: 0em 0em !important;
}

.assignment-accordion .expandCollapse {
    width: 32px;
    height: 32px;
    position: relative;
    /*font-size:20px;*/
    font-weight: bold;
    cursor: pointer;
    color: black;
    display: block;
    margin-top: -2px;
    margin-left: -2px;
    overflow: hidden;
}

.assignment-accordion .expandCollapse:active {
    border: 0px;
    background-color: rgba(255, 255, 255, 0.87);
}

.assignment-accordion .expandCollapse:before,
.assignment-accordion .expandCollapse:after {
    width: 32px;
    height: 32px;
    /*display:inline-block;*/
    position: absolute;
    top: 0;
    left: 0;
    line-height: 36px;
    text-align: center;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.assignment-accordion .expandCollapse:before {
    /*color:grey;*/
    opacity: 1 -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    content: "|";
    margin-top: -3px;
}

.assignment-accordion .expandCollapse:after {
    /*color:grey;*/
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: "|";
    margin-left: -3px;
}

.active {
    background-color: rgba(255, 255, 255, 0.87);
}

.assignment-accordion .active:before {
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 3px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.87);
}

.assignment-accordion .dataContent {
    background: #F2F2F2;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.assignment-accordion .activeContent {
    height: auto;
    padding: 10px;
    /*display:inline-block;*/
}

.assignment-accordion md-toolbar {
    cursor: pointer;
    margin: 0 !important;
    padding: 0em 0em !important;
    border-bottom: 1px solid #F2F2F2;
}

.normalAccordionHeadColorAssignment {
    background: #fff;
    font-size: 12px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

.selectedAccordionHeadColorAssignment {
    background: rgb(242, 242, 242) !important;
    font-size: 12px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;
}

#mark,
#review {
    padding-top: 15px;
}

.arrow {
    border-radius: 50px;
    background-color: rgb(18, 165, 244);
    width: 25px;
    height: 29px;
    margin-top: 8px;
}

.arrow img {
    border-radius: 60px;
    width: 25px !important;
    height: 25px !important;
    /* padding: 2px 3px; */
    padding-left: 4px;
    padding-right: 1px;
    padding-top: 3px;
}
