.round {
    border-radius: 50px;
    background: #17a962;
    width: 25px;
    height: 25px;
}

.round img {
    border-radius: 50px;
    width: 15px !important;
    height: 15px !important;
    padding: 5px 5px;
}

.planTitle {
    padding-left: 15px;
}

