<div flex layout="row" ng-repeat="teachingplan in teachingPlans " style="background:white;border-radius: 10px;overflow: auto;max-height:100px;" layout-margin="3px" layout-padding="10px">
        <div flex=60 layout="row" layout-align="start center">
            <img src="calender.png" />
            <span class="planTitle">{{teachingplan.title}}</span>
        </div>
        <div flex=20 layout="row" layout-align="start center" ng-switch on="teachingplan.status">
            <div ng-switch-when='created'>
                <div flex layout="row" layout-wrap>
                    <div flex="40">
                        <div class="round"><img src="tick_mark_white.png"></div>
                    </div>
                    <div flex="60">created</div>
                </div>
            </div>
            <div ng-switch-when='verified'>
                <div layout="row" layout-wrap flex>
                    <div flex="40">
                        <div class="round"><img src="tick_mark_white.png"></div>
                    </div>
                    <div flex="60">approved</div>
                </div>
            </div>
        </div>
        <div flex=20 layout="row" layout-align="start center" ng-switch on="teachingplan.status">
            <md-button class="md-raised" ng-click="getTeachingPlan(teachingplan)"> View </md-button>
        </div>

</div>

