<div layout="column" class="maindiv">
    <div layout="column" layout-padding flex>
        <div ng-init="getstudentDetailsData()" style="width: 100%;height: 50vh;overflow-y: scroll;overflow-x: hidden;padding-left: 0px;">
            <div class="md-accordion1" style="margin:1%;" ng-repeat="dictationdetails in quesTypes" ng-init="countdown[$index] = 0">
                <div ng-click="collapseAll(dictationdetails)">
                    <div ng-class="{'selectedAccordionHeadColor1' : dictationdetails.expanded, 'normalAccordionHeadColor1' : !dictationdetails.expanded}">
                        <table flex style="width:100%;" id="t01">
                            <tr>
                                <td width="10%">
                                    <i class="material-icons">group</i>
                                </td>
                                <td width="80%">
                                    <md-card-title>
                                        Diction
                                    </md-card-title>
                                </td>
                                <td>
                                </td>
                                <td>
                                    <span ng-class="{expandCollapse:true, active:dictationdetails.expanded}"></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div ng-class="{dataContent:true, activeContent:dictationdetails.expanded}">
                    <table flex style="width:100%;height:20%" id="t01">
                        <tr style="height:5%;">
                            <td>
                                Time: <span style="background-color:#34e254">{{dictationdetails.Duration}}</span>
                            </td>
                            <td>
                                <img alt="" ng-click="ListenDictation(dictationdetails.dictation_word,dictationdetails.Duration,$index)" style="height:20px;width:20px" src="done.png">
                            </td>
                            <td>
                                <md-input-container style="width:100%;">
                                    <label>Enter Word</label>
                                    <input ng-model="Result">
                                </md-input-container>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Remaining Time:<span style="background-color:#34e254"> {{countdown[$index] | secondsToDateTime | date:'HH:mm:ss'}}</span>
                            </td>
                            <td>
                            </td>
                            <td>
                                <md-button style="margin-left:100px;" ng-click="SaveDictation(dictationdetails._id,Result)" class="button">Save</md-button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>