<div ng-repeat="question in questions track by $index">             						    	
<!-- MCQ - Single-->
	<div ng-switch="question.type">
		 
		 <div ng-switch="question.pattern">
		 	  <!--Single-->
			  <div ng-switch-when="single">
			     <h1>{{$index+1}} . {{question.qn_desc}}</h1>
				    <md-radio-group >
				      <md-radio-button ng-repeat="choice in question.choice"
		                       ng-value="choice.desc"
		                       ng-click="setSelectedAns(choice.desc,'MCQ')"
		                       aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
				    </md-radio-group>
			  </div>
			  <!--Multiple-->
			  <div ng-switch-when="multiple" layout="column">
			     <h1>{{$index+1}} . {{question.qn_desc}}</h1>
				     <div layout="row" ng-repeat="choice in question.choice">
					    <md-checkbox 
			    				ng-value="choice.desc"
			    				ng-checked="checkChoiceExists(choice.desc)" 
			    				ng-click="setSelectedAns(choice.desc,'MR')">{{ choice.desc }}</md-checkbox>
		    		
			            <div class="rowDiv">
			            	<p class="{{errorMrQues[choice.desc].answerStatus}}">{{errorMrQues[choice.desc].answerType}}</p>
			        	</div>
			        </div>
			  </div>
		  </div>
	</div>
 
	

<!-- True | False -->
	  <div ng-switch="question.type">
		  <div ng-switch-when="TF">
		     <h1>{{$index+1}} . {{question.qn_desc}}</h1>
		     <md-radio-group>
			      <md-radio-button ng-repeat="choice in question.choice"
                       ng-value="choice.tag"
                       ng-click="setSelectedAns(choice.tag,'TF')"
                       aria-label="{{choice.tag}}">{{choice.tag}}</md-radio-button>
 			</md-radio-group>
		  </div>
	  </div>

	  <!-- Fill in the blanks -->
	  <div ng-switch="question.type">
		  <div ng-switch-when="FIB">
		     <h1>{{$index+1}} . {{question.qn_desc}}</h1>
		     <div ng-repeat="choice in question.answer">
		     	<md-input-container class="md-block" flex-gt-sm>
		            <label>Answer {{$index+1}}</label>
		            <input ng-model="ansFib[choice.desc]" ng-click="setSelectedAns('enteredAns','FIB')">
		            <div class="rowDiv">
			            <p class="{{errorFib[choice.desc].answerStatus}}">{{errorFib[choice.desc].answerType}}</p>
			        </div>
	          	</md-input-container>
		     </div>
		  </div>
	  </div>


	  <!-- 	Match the following -->
	  <div ng-switch="question.type">
		  <div ng-switch-when="MTF">
		     <h1>{{$index+1}} . {{question.qn_desc}}</h1>
		     <div layout="row">

		     		<div>
	                    <div ng-repeat="question in quesData" >
					        <md-button class="md-raised">{{question.desc}}</md-button>
	                    </div>
	                </div>
	               
		            <div>
		                 <ul class="card-list" as-sortable="dragControlListeners" ng-model="ansData">
		                    <li ng-repeat="answer in ansData" as-sortable-item>
		                    	<div as-sortable-item-handle>
								    <md-button class="md-raised">{{answer.desc}}</md-button>     
		                    	</div>
		                    </li>
	                	</ul>
					</div>
					<div>
						<div ng-repeat="question in quesData">
					        <p class="{{errorMtf[question.tag].answerStatus}}">{{errorMtf[question.tag].answerType}}</p>
		                </div>
	                </div>
					
			 </div>

		  </div>
	  </div>
</div>

<div>
	<md-button class="md-raised" ng-click="submitQuestions()">Submit</md-button>
</div>