<md-dialog aria-label="Create Notes" flex >
   <md-toolbar>
         
         <h2>Create Notes</h2>
          
   </md-toolbar>

   <md-dialog-content>

     <div flex layout-align="center center" style="background:white;margin:10px;padding:10px;">
         <md-input-container flex md-no-float class="md-block" flex-gt-sm>
               <label>Your Notes</label>
               <input ng-model="userNotes" name=notes>
          </md-input-container>
    </div>
        
   </md-dialog-content>

   <md-dialog-actions layout="row" layout-align="center center">
      <div style="padding: 10px">
         <md-button class="md-raised" ng-click="addNotes(userNotes)">Ok</md-button>
         <md-button class="md-raised" ng-click="cancelNotes()">Cancel</md-button>
      </div>
   </md-dialog-actions>
</md-dialog>