 <header flex style="position: fixed;z-index: 2;background: #009688;"
 		 ng-style="{'width': windowInnerWidth}">
	 	<div flex layout="row"
	 		 layout-align="space-between center">

	 		 <div ng-repeat="toolData in tools"
	 		 	layout="row" 
	 		 	layout-align="center center">

	 		 	<div flex ng-click="setTool(toolData.tool,toolData)"
	 		 		 ng-class="{'pdfControlSelected':toolData.expanded,'pdfControls':!toolData.expanded}">
		 		 	<i class="material-icons">{{toolData.icon}}</i>
		 		 </div>
		 		 
	 		 </div>
	 		 <div flex layout="row"
	 		 		layout-align="space-between center">
		 		  <span>Thickness</span><md-slider flex class="md-primary" 
			         md-discrete ng-model="lineThickness" 
			         step="1" 
			         min="1" 
			         max="12" 
			         aria-label="count"
			         style="padding: 10px;min-width: 120px;">
			       </md-slider>
			</div>

	 		 <div ng-click="clearPage()" class="pdfControls">
	 		 	<i class="material-icons">clear</i>
	 		 </div>
	 		  <div ng-click="prevPage()" class="pdfControls">
	 		 	<i class="material-icons">navigate_before</i>
	 		 </div>
	 		  <div ng-click="nextPage()" class="pdfControls">
	 		 	<i class="material-icons">navigate_next</i>
	 		 </div>
	 		 
	 		<!--  <div ng-click="takeNotes()" class="pdfControls">
	 		 	<i class="material-icons">navigate_next</i>
	 		 </div> -->
	 		 <!-- <div ng-click="zoomIn()" class="pdfControls">
	 		 	<i class="material-icons">zoom_in</i>
	 		 </div> -->
	 		 <!-- <div ng-click="pageFit()" class="pdfControls">
	 		 	<i class="material-icons">aspect_ratio</i>
	 		 </div> -->
	 		 <!--  <div ng-click="zoomOut()" class="pdfControls">
	 		 	<i class="material-icons">zoom_out</i>
	 		 </div> -->
	 	</div>
 </header>
 <div flex layout-align="center center">
		<canvas id="canvas" 
		        flex
		        width="{{windowWidth}}" 
		        height="{{windowHeight}}"
		        toolName="{{tool}}"
		        ng-style="{'height': windowInnerHeight,'width': windowInnerWidth}"
		     	style="background-color:transparent; position: absolute;left: 10; top: 10;z-index: 1;">


		</canvas>
	    <pdfviewer src="{{pdfLinksUrl}}" 
		     on-page-load='pageLoaded( total)' 
		     id="viewer"
		     flex 
		     load-progress='loadProgress(loaded, total, state)' 
		     style="z-index: 0;left: 0; top: 0;">
	    </pdfviewer>
</div>