side-nav{
  background-color: #333244;
}

.leftSideNav {
  font-size: 13px;
  font-weight: normal !important;
  max-width: 85px;
  font-size: .8rem;
  color: #ffffff;
  background-color: #333244;
  overflow-x: hidden; 
}
.buttonNav i {
  margin-top: 10px;
  color: #fff;
}
.leftSideNav nav ul li {
  height: 65px;
  cursor: pointer;
}
nav .menuName{
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 10px;
}
.leftSideNav nav ul li:hover {
  background-color: #3d3b5b;
}
nav {
  background-color: #333244;
  width: 85px;
  word-wrap: inherit;
}

nav ul {
  /* Removes bullet points */
  list-style:none;
  margin:0;
  padding:0;
  
}
nav ul li {
  /* Any child positioned absolutely will be positioned relative to this */
  position:relative;
}
nav a {
  color:#e8e8e8;
  /* Fill all available horizontal space */
  display:block;
  /* Remove underline */
  text-decoration:none;
  padding-top: 12px;
  transition:background 1s;
  -moz-transition:background 1s;
  -webkit-transition:background 1s;
  -o-transition:background 1s;
  font-family:tahoma;
  font-size:13px;
  text-transform:uppercase;
  text-align: center;
}
nav a:hover {
  text-decoration: none;
  background: RGBA(255,255,255,0.05);
  color:#fff;
  
}
nav a:hover span {
  background: #7d2c41;
  transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
}
nav ul li:hover .content-slider {
  display:inline-flex;
}
nav ul .content-slider {
  position: absolute;
  left: 85px;
  top: 0;
  display: none;
}
nav ul .content-slider li {
  width: 75px;
  background:#333244;
  border-top:0;
  color: #fff;
}
nav ul .content-slider li a {
  color:#fff;
  font-size:12px;
  text-transform:none;
}
nav ul .content-slider li a:hover {
  background: RGBA(255,255,255,0.05);
  color:#fff;
}

side-nav md-sidenav{
  overflow: visible!important;
  position: absolute;
}

.menuActive{
  background-color: #18A8A9;
}

side-nav .md-sidenav-left, md-sidenav{
  top: 64px;
}

@media (max-width: 959px) and (min-width: 618px) {
  side-nav .md-sidenav-left, md-sidenav{
    top: 48px;
  }
}
@media (max-width: 618px) {
  side-nav .md-sidenav-left, md-sidenav{
    top: 56px;
  }
}
@media screen and (max-width: 456px){
  md-sidenav {
      min-width: calc(100% - 100%);
      max-width: calc(100% - 100%);
  }
}

nav .content-slider button{
  position: absolute;
  z-index: 9999;
  border: none;
  width: 30px;
  height: 100%;
}
nav .content-slider .button-next{
  margin-left: -28px;
}
.buttonNav {
  color: #666;
  background-color: #333244;
  border-color: #EEE;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  padding: 0px;
  margin: 0;
  display: inline-block;
  appearance: none;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  transition-property: all;
  transition-duration: .3s;
}
