<md-sidenav class="md-sidenav-left md-whiteframe-z2 leftSideNav" md-component-id="left">
  <!-- <md-list>
    <md-list-item ui-sref-active="sideNavSelected" ng-repeat="menu in sidenavCtrl.menuItems" flex layout="column" ng-mouseover="hoverIn(menu.submenu)" ng-mouseleave="hoverOut(menu.submenu)">
      <div layout="row" layout-align="center center" ui-sref="courseware">
        <i flex class="material-icons">{{ menu.icon }}</i>
      </div>
      <div layout="row" layout-align="center center" ui-sref="courseware">
        <p flex> {{ menu.name }} </p>
      </div>
     
      <md-divider></md-divider>
    </md-list-item>
    </md-list> -->
  <nav>
    <ul>
      <li class="current">
        <a href="#">
          <div>
            <i class="material-icons">android</i>
          </div>
          <p class="menuName">
            Home
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <div>
            <i class="material-icons">android</i>
          </div>
          <p class="menuName">
            Aboutgg dfg
          </p>
        </a>
        <ul id="content-slider" class="content-slider">
          <li>
            <a href="#">
              <div>
                <i class="material-icons">android</i>
              </div>
              <p class="menuName">
                Home
              </p>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="material-icons">android</i>
              </div>
              <p class="menuName">
                Home
              </p>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="material-icons">android</i>
              </div>
              <p class="menuName">
                Home
              </p>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="material-icons">android</i>
              </div>
              <p class="menuName">
                Home
              </p>
            </a>
          </li>
          <li>
            <a href="#">
              <div>
                <i class="material-icons">android</i>
              </div>
              <p class="menuName">
                Home
              </p>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <div>
            <i class="material-icons">android</i>
          </div>
          <p class="menuName">
            Home
          </p>
        </a>
      </li>
      <li>
        <a href="#">
          <div>
            <i class="material-icons">android</i>
          </div>
          <p class="menuName">
            Home
          </p>
        </a>
        <ul id="content-slider" class="content-slider" ws-scroll-controls inc-prcnt="30"  duration="800" scroll-target="myHrzntlContainer">
          <button  scroll-button
            scroll-btn-type="left"
            disable-left="true"
            ng-disabled="disableLeft"
            class="buttonNav button-large button-primary button-border button-circle">
          <i class="material-icons">chevron_left</i>
          </button>
          <div class="col-rsns-hrzntl-8n10  scroll-hrzntl-outter-container text-center">
            <div  class="well scroll-hrzntl-inner-container text-center">
              <ul id="myHrzntlContainer" class="list-inline scroll-hrzntl-content" ws-scroll-container>
                <li ng-repeat="item in hrzntLst">
                  <a href="#">
                    <div>
                      <i class="material-icons">android</i>
                    </div>
                    <p class="menuName">
                      {{item.text}}
                    </p>
                  </a>
                </li>
              </ul>
              <!-- 
                <ul  id="myHrzntlContainer"  class="list-inline scroll-hrzntl-content" ws-scroll-container>
                 <li ng-repeat="item in hrzntLst">
                     <div>{{item.text}}</div>
                 </li>
                </ul> -->
            </div>
          </div>
          <button scroll-button
            scroll-btn-type="right"
            disable-right="false"
            ng-disabled="disableRight"
            class="button-large buttonNav button-primary button-border button-circle button-next">
          <i class="material-icons">chevron_right</i>
          </button>
        </ul>
      </li>
    </ul>
  </nav>
</md-sidenav>