<div flex style="background:white;border-radius: 10px;overflow: auto;" layout="column" layout-margin="3px" layout-padding="10px">
    <div layout="column">
        <div layout="row">
            <div>
                <h2 class="md-headline remove-padding">{{teachingPlan.title}} </h2></div>
        </div>
        <div flex layout="row">
            <div layout="column">
                <div flex>
                    <h3>Topics</h3></div>
                <div flex>
                    <div layout="row">
                        <div flex ng-repeat="teachingplanTopics in teachingPlan.topic ">
                            <div class="md-whiteframe-1dp md-padding" style="margin:5px;background-color:#ffffff">
                                {{teachingplanTopics}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex layout="row">
            <div layout="column">
                <div flex>
                    <h3>Leaning Objectives</h3></div>
                <div flex>
                    <div layout="row">
                        <div flex ng-repeat="teachingplanObj in teachingPlan.objective ">
                            <div class="md-whiteframe-1dp md-padding" style="margin:5px;background-color:#ffffff">
                                {{teachingplanObj}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div flex layout="column" style="margin:5px;background-color:#ffffff;padding-top: 5px;">
            <div flex>
                <h2 class="remove-padding">Teching Plans</h2></div>
            <div ng-repeat="teachingplans in teachingPlan.teaching_plan ">
                <div class="planSubTitle" flex-gt-xs="100">
                    <div layout="row" style="background-color:#ffffff;padding-top: 5px;">
                        <div flex=70 layout-align="start center">
                            <h4 class="remove-padding">{{teachingplans.title}}</h4>
                        </div>
                        <div flex=30 ng-switch on="teachingplans.status">
                            <div ng-switch-when='not complete'>
                                <div flex layout="row" layout-align="end center" layout-wrap>
                                    Status :inprogress
                                </div>
                            </div>
                            <div ng-switch-when='complete'>
                                <div layout="row" layout-align="end center" layout-wrap flex>
                                    Status :complete
                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex layout="column" style="background-color:#ffffff;padding-top: 5px;" layout-align="start start">
                        time : {{teachingplans.time.hour}}:{{teachingplans.time.min}}:{{teachingplans.time.sec}}
                    </div>
                </div>
            </div>
            <div flex>
                <h3>Resources Used</h3></div>
            <div flex>
                <div flex ng-repeat="teachingplanresources in teachingPlan.resources ">
                    <div flex-gt-xs="100">
                        <div layout="row" layout-align="start center">
                            {{teachingplanresources}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout="column" id="footer" flex>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <md-divider></md-divider>
    <div layout="row" layout-align="center center">
        <table>
            <tr>
                <td>
                    ok
                </td>
                <td>
                    <div ng-click="backToTeachingPlan()" class="round-button-circle md-icon-button">
                        <img alt="" style="height:40px;width:40px" src="tick mark.png">
                    </div>
                </td>
                <td>
                    <div>
                    </div>
                </td>
            </tr>
        </table>
        <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
    </div>
</div>
