<div layout="column" flex >
   <!-- Title,SubTitle,Description -->
   <div flex="none" style="background:white;border-radius: 10px;padding-top: 10px;" 
      layout="column" 
      layout-align="space-between center"
      layout-margin="3px"
      class="md-whiteframe-3dp md-padding overFlowContainer"
      ng-show="!isQuestionSetPage"
      layout-gt-xs="row" 
      flex-gt-xs>
      <md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin:5px">
         <label>Title</label>
         <input ng-model="qTitle" name=title required>
         
        <p class="errorMessage">{{errors['title']}}</p>
      </md-input-container>
      <md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin: 5px;">
         <label>Sub Title</label>
         <input ng-model="qSubTitle" name="subtitle" required>
         
        <p class="errorMessage">{{errors['subTitle']}}</p>
      </md-input-container>
      <md-input-container flex md-no-float class="md-block" flex-gt-sm style="margin: 5px;">
         <label>Description</label>
         <input ng-model="qDescription" name="desc" required>
        
         <p class="errorMessage">{{errors['description']}}</p>
      </md-input-container>
   </div>
   <!-- Question Count -->
   <div flex="none" flex-gt-xs style="background:white;border-radius: 10px;padding-top: 10px;" 
         layout="column" 
         layout-gt-xs="row"
         layout-margin="3px"
         layout-align="space-between center"
         layout-align-gt-xs
         class="md-whiteframe-3dp md-padding overFlowContainer"
         ng-show="!isQuestionSetPage">

      <p flex style="padding: 10px">Total Number of Questions<label> - ({{qCount}}) </label></p>
      <md-slider flex-gt-xs="60" flex="80" class="md-primary" 
         md-discrete ng-model="qCount" 
         step="1" 
         min="1" 
         max="100" 
         aria-label="count"
         ng-change="hideAllChild()"
         style="margin: 10px;min-width: 300px;" ></md-slider>
   </div>
   <!-- Starnds/Theme/Cross subjects -->
    <div style="background:white;border-radius: 10px;padding-top: 30px;" 
         flex="none" 
         flex-gt-xs
         layout="column" 
         layout-gt-xs="row"
         layout-margin="3px"
         layout-align="space-between center"
         class="md-whiteframe-3dp md-padding overFlowContainer"
         ng-show="!isQuestionSetPage">
    
         <md-input-container style="margin :5px;" flex class="md-block">
            <label>Select Strand</label>
            <md-select ng-model="selectedStrands" multiple>
               <md-option ng-repeat="topic in topicList " value="{{topic}}">{{topic}}</md-option>
            </md-select>
            <p class="errorMessage">{{errors['strands']}}</p>
         </md-input-container>
         <md-input-container style="margin: 5px;" flex class="md-block">
            <label>Link Subjects</label>
            <md-select ng-model="selectedSubjects" multiple>
               <md-option ng-repeat="sub in crossSubList " value="{{sub}}">{{sub}}</md-option>
            </md-select>
            <p class="errorMessage">{{errors['cross_subjects']}}</p>
         </md-input-container>
         <md-input-container style="margin: 5px;" flex class="md-block">
            <label>Link/Subject/Theme</label>
            <md-select ng-model="selectedThemes" multiple>
               <md-option ng-repeat="theme in themes " value="{{theme}}">{{theme}}</md-option>
            </md-select>
            <p class="errorMessage">{{errors['themes']}}</p>
         </md-input-container>
     
   </div>
   <!-- Additional tags/Fetch From/Time -->
   <div  flex="none"
         layout-align="center space-between"
         ng-show="!isQuestionSetPage"
         flex-gt-xs
         layout="column" 
         layout-gt-xs="row">
         <!-- Additional tags -->
         <div style="background:white;border-radius: 10px;padding-top: 10px;" 
            flex layout="row"
            layout-margin="3px"
            layout-align="center center"
            class="md-whiteframe-3dp md-padding">

                <md-input-container style="margin :5px;" class="md-block">
                  <label>Additional Tag</label>
                  <md-select ng-model="selectedTags" multiple>
                     <md-option ng-repeat="tag in appTags " value="{{tag}}">{{tag}}</md-option>
                  </md-select>
                  <p class="errorMessage">{{errors['tags']}}</p>
               </md-input-container>
         </div>
         <!--Fetch From -->
         <div style="background:white;border-radius: 10px;padding-top: 10px;" 
            flex layout="column"
            layout-margin="3px"
            layout-align="start space-between"
            class="md-whiteframe-3dp md-padding">
               <label>Fetch From</label>
                <md-radio-group flex layout="row"> 
                  <md-radio-button flex
                             ng-repeat="source in fetchSources"
                             ng-value="source"
                             ng-click="setSelectedSource(source)"
                             aria-label="{{source}}">{{source}}</md-radio-button>
                </md-radio-group>
                <p class="errorMessage">{{errors['fetch_from']}}</p>

         </div>
         <!-- Set Time -->
         <div style="background:white;border-radius: 10px;padding-top: 10px;" 
            flex layout="row"
            layout-margin="3px"
            layout-align="center center"
            class="md-whiteframe-3dp md-padding">

               <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                  <label>Hour</label>
                  <md-select ng-model="selectedHour">
                     <md-option ng-repeat="hour in hours " value="{{hour}}">{{hour}}</md-option>
                  </md-select>
                  <p class="errorMessage">{{errors['hour']}}</p>
               </md-input-container>
               <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                  <label>Minute</label>
                  <md-select ng-model="selectedMin">
                     <md-option ng-repeat="min in minutes " value="{{min}}">{{min}}</md-option>
                  </md-select>
                  <p class="errorMessage">{{errors['min']}}</p>
               </md-input-container>
               <md-input-container style="margin-left: 5px;margin-right: 5px;margin-top: 5px;margin-bottom: 5px">
                  <label>Second</label>
                  <md-select ng-model="selectedSecond">
                     <md-option ng-repeat="sec in seconds " value="{{sec}}">{{sec}}</md-option>
                  </md-select>
                  <p class="errorMessage">{{errors['sec']}}</p>
               </md-input-container>

         </div>
   </div>
   <div flex style="background:white;border-radius: 10px;overflow: auto;" 
        layout="column" 
        ng-show="isQuestionSetPage"
        layout-margin="3px"
        layout-padding="10px">
         <div class="md-accordion" 
               flex
               ng-repeat="quesDetail in quesTypes">
             <md-toolbar 
                  ng-click="collapseAll(quesDetail)">
                 <div ng-class="{'selectedAccordionHeadColor' : quesDetail.expanded, 'normalAccordionHeadColor' : !quesDetail.expanded}">
                     <h2>
                         <span>{{quesDetail.title}}</span>
                         <label ng-if="quesDetail.count>0" style="padding: 10px;"> - ({{quesDetail.count}}) </label>
                     </h2>
                     <span flex=""></span>
                     <span ng-class="{expandCollapse:true, active:quesDetail.expanded}"></span> 
                 </div>
             </md-toolbar>
             <div ng-class="{dataContent:true, activeContent:quesDetail.expanded}"
                  flex  layout="row" 
                  layout-align="center center">

                  <div flex layout="column">
                      <div>
                         <p style="padding: 1px;"></p>
                      </div>
                      <div flex  layout="row" 
                        layout-align="center center">
                        <span>0</span>
                        <md-slider flex class="md-primary" 
                           md-discrete 
                           ng-model="quesDetail.count" 
                           step="1" 
                           min="0"
                           layout-margin="6px"
                           max="{{qCount}}" 
                           aria-label="countSubQuestion" 
                           ng-change=setQuestionCount($index)>
                        </md-slider><span>{{qCount}}</span>
                    </div>
                  </div>
                  

               <div flex
                     layout="column"
                     layout-margin="3px">
                  
                  <p style="padding: 5px;">Level 1<label ng-show="quesDetail.l1Percent>0">  - ({{quesDetail.l1Percent}})</label></p>
                  <div layout="row"
                        layout-align="center center">
                     <span style="padding: 7px;">0</span>
                     <md-slider flex 
                        class="md-primary" 
                        md-discrete
                        ng-model="quesDetail.l1Percent" 
                        step="1" 
                        min="0"
                        max="{{quesDetail.count}}" 
                        aria-label="countSubQuestion" 
                        ng-change="setSubQuestionCount($index,'1')">
                     </md-slider><span style="padding: 5px;">{{quesDetail.count}}</span>
                  </div>
                  
               </div>
               <div flex
                     layout="column"
                     layout-margin="3px">
                 
                  <p style="padding: 5px;">Level 2 <label ng-show="quesDetail.l2Percent>0">  - ({{quesDetail.l2Percent}})</label></p>
                  <div layout="row"
                        layout-align="center center">
                     <span style="padding: 7px;">0</span>
                     <md-slider flex 
                        class="md-primary" 
                        md-discrete 
                        ng-model="quesDetail.l2Percent" 
                        step="1" 
                        min="0"
                        max="{{quesDetail.count}}" 
                        aria-label="countSubQuestion" 
                        ng-change="setSubQuestionCount($index,'2')">
                     </md-slider><span style="padding: 5px;">{{quesDetail.count}}</span>
                  </div>
               </div>
               <div flex 
                     layout="column"
                     layout-margin="3px">
                
                  <p style="padding: 5px;">Level 3<label ng-show="quesDetail.l3Percent>0">  - ({{quesDetail.l3Percent}})</label></p>
                  <div layout="row"
                        layout-align="space-between center">
                     <span style="padding: 7px;">0</span>
                     <md-slider flex 
                        class="md-primary" 
                        md-discrete 
                        ng-model="quesDetail.l3Percent" 
                        step="1" 
                        min="0"
                        max="{{quesDetail.count}}" 
                        aria-label="countSubQuestion" 
                        ng-change="setSubQuestionCount($index,'3')">
                     </md-slider><span style="padding: 5px;">{{quesDetail.count}}</span>
                  </div>
               </div>
             </div>
         </div>
    </div>
    <footer>
     <div layout="row" flex 
           style="background:white;"
           layout-padding="5px"
           layout-align="center center">
        <!-- <div layout="column" flex layout-align="start center" ng-repeat="error in errorsList">
           <p>{{error.message.msg}}</p>
           <p>{{error.message.name}}</p>
        </div> -->
        <label style="padding: 10px">{{info}}</label>
        <md-button class="md-raised md-primary"
           ng-show="!isQuestionSetPage" 
           ng-click="navigateQuestionSetPage()">Next</md-button>
        <md-button class="md-raised md-primary"
           ng-show="isQuestionSetPage"
           ng-click="navigateToManageScreen()">Preview</md-button>
     </div>
  </footer>
</div>
