<div layout="column" layout-padding flex class="quetionListPage">
  <div layout="row"  id="selectionbar" layout-xs="column" >
      <div style=" margin: 10px"  layout-align="center none"    flex >
      
    </div>
    <div style=" margin: 10px"   layout-align="center none"  flex >
      
          <!-- <img alt="" ng-click="validateSearch(directiveCtrl.Search)" style="height:40px;width:40px" src="search.svg"> -->
    </div>       
  </div>

  <!--  <div flex style="display: inline;border-radius: 10px;"> 
      <md-card flex layout="row" layout-align="start center">
        <h1>View</h1>
            <div>
              <md-radio-group>
                <md-radio-button ng-repeat="choice in status"
                             ng-value="choice"
                             ng-click="filterQuestion(choice)"
                             style="display: inline-block;padding: 10px;margin-left: 10px"
                             aria-label="{{choice}}">{{choice}}</md-radio-button>
              </md-radio-group>
            </div>
           
      </md-card>    
    </div> -->

    <div layout="row"  flex style="background:white;display: inline; overflow:scroll;">
      <!-- <md-card flex> -->
     <div>{{getAssginment_title}}
     </div>
     <div>{{getAssginmentQuestion.data}}</div>
   
      <!-- </md-card>   -->
    </div>
  </div>
 <div layout="column"   id="footer" flex   >
       <md-divider ></md-divider>
        <md-divider ></md-divider>
         <md-divider ></md-divider>
      <div layout="row" layout-align="center center">
      <table  >
         <tr>
            <td >  
               Enter Review                    
            </td>
              <td >                 
                  <div ng-click="showAdvanced($event)" class="round-button-circle md-icon-button">
                     <img alt=""  style="height:40px;width:40px" src="search.svg">
                  </div>                                       
            </td>
            
           
         </tr>
      </table >
       <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
      </div>
   </div>
<!-- 
   <div layout="column"   id="footer" flex   >
       <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
     
      <div layout="row" layout-align="center center">
      <md-button class="md-raised md-primary" ng-click="startQuiz()">Start Test</md-button>
      <md-button class="md-raised md-primary" ng-click="createNewQuiz()">Generate Question</md-button>

      </div>
   </div> -->


          <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
<!-- 

      <div layout="row" flex layout-align="end center">
      <md-button class="md-raised md-primary" ng-click="startQuiz()">Start Test</md-button>
       <md-button class="md-fab md-mini" 
          aria-label="newQuiz"
          ng-click="createNewQuiz()">+</md-button>
    </div> -->