   <div flex style="background:white;border-radius: 10px;overflow: auto;" 
        layout="column"
        layout-margin="3px"
        layout-padding="10px" >
         <div flex data-ng-init="getAllStudentGroup()">
             <md-toolbar 
                 >
                 <div>
                     <h2>
                         <span >{{quesTypes.title}}</span>

                        <!-- ng-init="getGroupName=getstudentGroup(quesTypes.group[0]._id)" -->
                     </h2>
                     <span flex=""></span>
                     
                 </div>
             </md-toolbar>
                        <div class="md-accordion" 
               flex
               ng-repeat="quesDetail in quesTypes">

                <div ng-init="getGroupName=getstudentGroup(quesDetail.group[0]._id)"></div>
               <!-- {{quesDetail}} -->
             <md-toolbar 
                  ng-click="collapseAll(quesDetail,quesDetail.group[0]._id)">
                 <div ng-class="{'selectedAccordionHeadColor' : quesDetail.expanded, 'normalAccordionHeadColor' : !quesDetail.expanded}">
                     <h2>
                         <span>{{getGroupName}}</span>
                         <label ng-if="quesDetail.count>0" style="padding: 10px;"> - ({{quesDetail.count}}) </label>
                     </h2>
                     <span flex=""></span>
                     <span ng-class="{expandCollapse:true, active:quesDetail.expanded}"></span> 
                 </div>
             </md-toolbar>
             <div ng-class="{dataContent:true, activeContent:quesDetail.expanded}"
                  flex  layout="row" 
                  layout-align="center center">
                  <md-divider></md-divider>
                  <div flex layout="column">
                     
                    <div flex  layout="column" style="padding: 5px;">
                     <div  ng-repeat="studentDetail in studentArray">
                      <div  style="padding: 10px;"></div>
                        <div layout="row" layout-align="space-between start">
              <div flex=80 >
               <p>{{studentDetail.name}}</p>
              </div>
              <div flex=20  ng-switch on="quesDetail.status"> 
                <div ng-switch-when='conducted'>       
                 <md-button class="button "   ng-click="viewAssignment(studentDetail._id,quesDetail._id)"   >   review status </md-button >     
                 
                </div>
                <div ng-switch-when='not conducted'>
                   <md-button class="button "    >  conduct now </md-button >
                </div>
              </div>
             
              
              </div>
                      
                      </div>
                    </div>
                  </div>

                  

               
              
               
             </div>
         </div>
            
         </div>
    </div>