<div layout="column" layout-padding flex class="quetionListPage">
	<div layout="row"  id="selectionbar" layout-xs="column" >
			<div style=" margin: 10px"  layout-align="center none"    flex >
			<md-input-container style="width:100%; margin-right: 10px;">
      	<label>All</label>
      	<md-select ng-model="ctrl.userState">
        	<md-option ng-repeat="choice in status" ng-click="filterQuestion(choice)" value="{{choice}}">
        {{choice}}
      	</md-option>
      	</md-select>
      </md-input-container>
		</div>
		<div style=" margin: 10px"   layout-align="center none"  flex >
			<md-input-container style="width:95%;" >
      			<label>Search</label>
        		<input ng-model="Search">        	  
        	</md-input-container>
        	<!-- <img alt="" ng-click="validateSearch(directiveCtrl.Search)" style="height:40px;width:40px" src="search.svg"> -->
		</div>	     
	</div>

	<!-- 	<div flex style="display: inline;border-radius: 10px;"> 
			<md-card flex layout="row" layout-align="start center">
				<h1>View</h1>
				    <div>
					    <md-radio-group>
					      <md-radio-button ng-repeat="choice in status"
			                       ng-value="choice"
			                       ng-click="filterQuestion(choice)"
			                       style="display: inline-block;padding: 10px;margin-left: 10px"
			                       aria-label="{{choice}}">{{choice}}</md-radio-button>
					    </md-radio-group>
			    	</div>
				   
			</md-card>    
		</div> -->

		<div layout="row"  flex style="background:white;display: inline; overflow:scroll;">
			<!-- <md-card flex> -->
				<div ng-repeat="questLst in questionList | filter : Search" layout="row" layout-align="center center">

				    <div style="border-radius: 0px;border: 2px solid #E7E7E7;height:60px; margin: 7px" flex layout="row" >
					    <div flex=30 layout-align="space-between start">
					    	<p>{{questLst.title}}</p>
					    </div>
					    <div flex=35 ng-init="date=createddateOfQuestion(questLst.date)">
					    	<p>Created on:{{ date }}</p>
					    </div>
					    <div flex=10  ng-switch on="questLst.status">	
						    <div ng-switch-when='published'>				   	
						    	<img ui-sref="groupList({id:questLst._id})" alt="" style="height:40px;width:40px" src="tick mark.png">
						    </div>
						    <div ng-switch-when='not published'>
						    	<img ui-sref="groupList({id:questLst._id})" alt="" style="height:40px;width:40px" src="done.png">
						    </div>
					    </div>					  
					    <div flex=20  >
					    	<p>{{questLst.status}}</p>
					    </div>
					    
					    <div ng-switch on="questLst.status" flex=5 layout-align="start end">
					    	<div style="margin-top:15px" ng-switch-when='not published'>
						    	 <md-checkbox  ng-disabled="true" ng-model="data" aria-label="Checkbox 1" ng-click=getGroupDetails(questLst,data)>
						    	 </md-checkbox>
					    	 </div>
					    	 <div style="margin-top:15px" ng-switch-when='published'>
						    	 <md-checkbox ng-disabled="false" ng-model="data" aria-label="Checkbox 1" ng-click=getGroupDetails(questLst,data)>
						    	 </md-checkbox>
					    	 </div>			           
					    </div>
		    		</div>
				</div>
			<!-- </md-card>   -->
		</div>
	</div>
 <div layout="column"   id="footer" flex    >
       <md-divider ></md-divider>
        <md-divider ></md-divider>
         <md-divider ></md-divider>
        <div layout="row"  layout-align="center center">
      <table flex>
         <tr>
            <td >  
               Start Test                      
            </td>
              <td >                 
                  <div ng-click="startQuiz()" class="round-button-circle md-icon-button">
                     <img alt=""  style="height:40px;width:40px" src="search.svg">
                  </div>                                       
            </td>
            <td>
               <div>                
               </div>
            </td>
            <td> 
              Generate Question                          
            </td>
             <td >                 
                  <div ng-click="createNewQuiz()"  class="round-button-circle">
                     <img alt=""  style="height:40px;width:40px" src="done.png">
                  </div>                                       
            </td>
         </tr>
      </table >
      </div>
       <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
    
   </div>
<!-- 
	 <div layout="column"   id="footer" flex   >
       <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
        <md-divider ></md-divider>
     
      <div layout="row" layout-align="center center">
			<md-button class="md-raised md-primary" ng-click="startQuiz()">Start Test</md-button>
			<md-button class="md-raised md-primary" ng-click="createNewQuiz()">Generate Question</md-button>

      </div>
   </div> -->


          <!--   <md-button class="btnNav"  aria-label="questionCount.count" ng-click="distributeQuestion(directiveCtrl.studentgroupdetails)">Publish</md-button> -->
<!-- 

   		<div layout="row" flex layout-align="end center">
			<md-button class="md-raised md-primary" ng-click="startQuiz()">Start Test</md-button>
			 <md-button class="md-fab md-mini" 
			 		aria-label="newQuiz"
			 		ng-click="createNewQuiz()">+</md-button>
		</div> -->