<md-dialog aria-label="Service Popup For Rejection" flex >
   <md-toolbar>
         
         <div flex  
            layout="row"
             class="md-toolbar-tools"
            layout-align="space-around center">
            <div flex
               style="margin-top:10px;margin-bottom:10px" >
               <p>Title : <label>{{questionDetails.title}}</label></p>
            </div>
            <div flex
               style="margin-top:10px;margin-bottom:10px"
               layout="row"
               layout-align="center center">
               <p>Theme : {{themes}}</p>
            </div>
            <div flex 
               layout="row"
               layout-align="end center"
               style="margin-top:10px;margin-bottom:10px">
               <p>Time : <label>{{questionHour}} : {{questionMin}} : {{questionSec}}</label></p>
            </div>
         </div>
          
   </md-toolbar>
   <md-toolbar>
       <!-- Question Types -->
      <div layout="row"
            style="background:white;"
            class="md-toolbar-tools"
            layout-align="space-around center">
            <div ng-repeat="questionType in qTypes">
             
               <md-button 
                  class="{{questionType.status}}"
                  ng-click="showSelectedQuestionGroup(questionType,$index)">{{questionType.type}}</md-button>
            </div>
      </div>
   </md-toolbar>
   <md-dialog-content>

      <div class="md-dialog-content" layout="column">
        
         <!-- Questions -->
         <div ng-repeat="question in questions track by $index" >
            <!-- MCQ - Single-->
            <div ng-switch="question.type">
               <div ng-switch="question.pattern">
                  <!--Single-->
                  <div ng-switch-when="single"
                        layout="row">
                        <div layout="column" flex="95">
                           <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                           <md-radio-group >
                              <md-radio-button ng-repeat="choice in question.choice"
                                 ng-value="choice.desc"
                                 ng-click="setSelectedAns(choice.desc,'MCQ')"
                                 aria-label="{{choice.desc}}">{{choice.desc}}</md-radio-button>
                           </md-radio-group>
                        </div>
                        <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                        </div>
                     
                  </div>
                  <!--Multiple-->
                  <div ng-switch-when="multiple" layout="row">
                     <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                        <div layout="row" ng-repeat="choice in question.choice">
                           <md-checkbox 
                              ng-value="choice.desc"
                              ng-checked="checkChoiceExists(choice.desc)" 
                              ng-click="setSelectedAns(choice.desc,'MR')">{{ choice.desc }}</md-checkbox>
                           <div class="rowDiv">
                              <p class="{{errorMrQues[choice.desc].answerStatus}}">{{errorMrQues[choice.desc].answerType}}</p>
                           </div>
                        </div>
                     </div>
                     <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                        </div>
                  </div>
               </div>
            </div>
            <!-- True | False -->
            <div ng-switch="question.type">
               <div ng-switch-when="TF" layout="row">
                     <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                        <md-radio-group>
                           <md-radio-button ng-repeat="choice in question.choice"
                              ng-value="choice.tag"
                              ng-click="setSelectedAns(choice.tag,'TF')"
                              aria-label="{{choice.tag}}">{{choice.tag}}</md-radio-button>
                        </md-radio-group>
                      </div>
                      <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                     </div>
               </div>
            </div>
            <!-- Fill in the blanks -->
            <div ng-switch="question.type">
               <div ng-switch-when="FIB" layout="row">
                  <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                        <div ng-repeat="choice in question.answer">
                           <md-input-container class="md-block" flex-gt-sm>
                              <label>Answer {{$index+1}}</label>
                              <input ng-model="ansFib[choice.desc]" ng-click="setSelectedAns('enteredAns','FIB')">
                              <div class="rowDiv">
                                 <p class="{{errorFib[choice.desc].answerStatus}}">{{errorFib[choice.desc].answerType}}</p>
                              </div>
                           </md-input-container>
                        </div>
                  </div>
                   <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                     </div>
               </div>
            </div>
            <!--  Match the following -->
            <div ng-switch="question.type">
               <div ng-switch-when="MTF" layout="row">
                     <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                        <div layout="row" ng-init="splitMatchQuestion($index)">
                           <div>
                              <div ng-repeat="question in quesObj[$index]" >
                                 <md-button class="md-raised">{{question.desc}}</md-button>
                              </div>
                           </div>
                           <div>
                              <ul class="card-list" as-sortable="dragControlListeners" ng-model="ansObj">
                                 <li ng-repeat="answer in ansObj[$index]" as-sortable-item>
                                    <div as-sortable-item-handle>
                                       <md-button class="md-raised">{{answer.desc}}</md-button>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                     </div>

               </div>
            </div>
             <!-- SA -->
            <div ng-switch="question.type">
               <div ng-switch-when="SA" layout="row">
                     <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                      </div>
                      <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                     </div>
               </div>
            </div>
            <!-- LA -->
            <div ng-switch="question.type">
               <div ng-switch-when="LA" layout="row">
                     <div layout="column" flex="95">
                        <h1>{{$index+1}} ) {{question.qn_desc}}</h1>
                      </div>
                      <div layout="column" 
                           flex="5"
                           layout-align="space-around center">
                           <div>
                              <i class="material-icons">delete</i>
                           </div>
                           <div>
                              <i class="material-icons">add_circle_outline</i>
                           </div>
                           <div>
                              <i class="material-icons">repeat</i>
                           </div>
                     </div>
               </div>
            </div>
            <hr>
         </div>
      </div>
   </md-dialog-content>
   <md-dialog-actions layout="row" layout-align="center center">
      <div style="padding: 10px">
         <md-button class="md-raised" ng-click="addQuestions()">Done</md-button>
      </div>
   </md-dialog-actions>
</md-dialog>