.statusButton {
    background-color: #00BCD5;
    border: none;
    color: white;
    padding: 2px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}
.close {
    border-radius: 50px;
    background:rgb(198,40,40);
    width: 25px;
    height: 25px;
}

.close img {
    border-radius: 50px;
    width: 15px !important;
    height: 15px !important;
    padding: 5px 5px;
}