

          <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary rightNavButton">
            <i class="material-icons">keyboard_arrow_left</i>
          </md-button>
 
    <md-sidenav class="md-sidenav-right md-whiteframe-z2 rightNav" md-component-id="right">

<span ng-click="close()" class="leftNavBtn">
            <i class="material-icons">keyboard_arrow_right</i>
          </span>


 



        

                        <div id="carouselv">

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/book.png" /><br />

                                <span class="thumbnail-text">Book</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/multimedia.png" /><br />

                                <span class="thumbnail-text">Videos</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/pdf.png" /><br />

                                <span class="thumbnail-text">PDF</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/book.png" /><br />

                                <span class="thumbnail-text">Book</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/multimedia.png" /><br />

                                <span class="thumbnail-text">Videos</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/pdf.png" /><br />

                                <span class="thumbnail-text">PDF</span></div>
<div class="cntMenu">

                                <img alt="" src="images/courseware-slider/book.png" /><br />

                                <span class="thumbnail-text">Book</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/multimedia.png" /><br />

                                <span class="thumbnail-text">Videos</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/pdf.png" /><br />

                                <span class="thumbnail-text">PDF</span></div>
<div class="cntMenu">

                                <img alt="" src="images/courseware-slider/book.png" /><br />

                                <span class="thumbnail-text">Book</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/multimedia.png" /><br />

                                <span class="thumbnail-text">Videos</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/pdf.png" /><br />

                                <span class="thumbnail-text">PDF</span></div>
<div class="cntMenu">

                                <img alt="" src="images/courseware-slider/book.png" /><br />

                                <span class="thumbnail-text">Book</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/multimedia.png" /><br />

                                <span class="thumbnail-text">Videos</span></div>

                            <div class="cntMenu">

                                <img alt="" src="images/courseware-slider/pdf.png" /><br />

                                <span class="thumbnail-text">PDF</span></div>


                        </div>

                   





    

    </md-sidenav>