/*Horizontal Orientation CSS*/

        #demo-wrapper

        {

            margin: 0;

            padding: 0;

            width: 100%;

            height: 100%;

            padding: 40px 20px 0px 20px;

        }

        #demo-left

        {

            width: 15%;

            float: left;

        }

        #demo-right

        {

            width: 85%;

            float: left;

        }

        #hWrapperAuto

        {

            margin-top: 20px;

        }

        #demo-tabs

        {

            width: 100%;

            height: 50px;

            color: White;

            margin: 0;

            padding: 0;

        }

        #demo-tabs div.item

        {

            height: 35px;

            float: left;

            background-color: #2F2F2F;

            border: solid 1px gray;

            border-bottom: none;

            padding: 0;

            margin: 0;

            margin-left: 10px;

            text-align: center;

            padding: 10px 4px 4px 4px;

            font-weight: bold;

        }

        #contents

        {

            width: 100%;

            margin: 0;

            padding: 0;

            color: White;

            font: arial;

            font-size: 11pt;

        }

        #demo-tabs div.item.active-tab

        {

            background-color: Black;

        }

        #demo-tabs div.item.active-tabc

        {

            background-color: Black;

        }

        #v1, #v2

        {

            margin: 20px;

        }

        .visible

        {

            display: block;

        }

        .hidden

        {

            display: none;

        }

        #oldWrapper

        {

            margin-left: 100px;

        }

        #contents a

        {

            color: yellow;

        }

        #contents a:hover

        {

            text-decoration: none;

            color: Gray;

        }

        .heading

        {

            font-size: 20pt;

            font-weight: bold;

        }

        #demo-side-bar

        {

            top:225px!important;

        }
.jscarousal-horizontal

{

  width: 740px;

  height: 118px;

  background-color: #121212;

  border: solid 1px #7A7677;

  margin: 0;

  padding: 0;

  padding: 22px 8px 22px 8px;

  position: relative; /*overflow: hidden;*/

}

.jscarousal-horizontal-back, .jscarousal-horizontal-forward

{

  float: left;

  width: 23px;

  height: 98px;

  background-color: #121212;

  color: White;

  position: relative;

  top: 6px;

  cursor: pointer;

}




.jscarousal-contents-horizontal

{

  width: 690px;

  height: 124px;

  float: left;

  position: relative;

  overflow: hidden;

}

.jscarousal-contents-horizontal > div

{

  position: absolute;

  width: 100%;

  height: 124px;

}

.jscarousal-contents-horizontal > div > div

{

  float: left;

  margin-left: 8px;

  margin-right: 8px;

}

.jscarousal-contents-horizontal img

{

  width: 120px;

  height: 94px;

  border: solid 1px #7A7677;

}

/*Horizontal Orientation CSS Ends*/



/*Vertical Orientation CSS Starts*/

.jscarousal-vertical

{

  width: 80px;

  height: 365px;

  background-color: #B0E3E4;

  margin: 0;

  padding: 0;

  position: relative;

  overflow: hidden;

}

.jscarousal-vertical-back, .jscarousal-vertical-forward

{

  width: 100%;

  height: 40px;

  background-color: #B0E3E4;

  color: White;

  position: relative;

  cursor: pointer;

  z-index:100;

}

.jscarousal-vertical-back

{

  background-image: url(images/arrow_up.png);

  background-repeat: no-repeat;
  background-position-x: 35px;
  background-position-y: 17px;

}

.jscarousal-vertical-forward

{

  background-image: url(images/arrow_down.png);

  background-repeat: no-repeat;

  background-position: top;

    background-position-y: 15px;

}

.jscarousal-contents-vertical

{

  overflow: hidden;

  width: 140px;

  height: 285px;

}

.jscarousal-contents-vertical > div

{

  position: absolute;

  top: 40px;

  width: 100%;

  height: 820px;

  overflow: hidden;

}

.jscarousal-contents-vertical > div > div

{

      width: 140px;
    height: 75px;
    margin-left: 0px;
    padding-top: 20px;

}

.jscarousal-contents-vertical > div > div span

{

  display: block;

  width: 70%;

  text-align: center;

}

.jscarousal-contents-vertical img

{
    height: 35px;
    margin-left: 20%;
}

/*Vertical Orientation CSS Ends*/



/*Common*/

.hidden

{

  display: none;

}

.visible

{

  display: block;

}

.thumbnail-active

{

  filter: alpha(opacity=100);

  opacity: 1.0;

  cursor: pointer;

}

.thumbnail-inactive

{

  filter: alpha(opacity=20);

  opacity: 0.2;

  cursor: pointer;

}

.thumbnail-text

{

  color: #000;

  font-weight: bold;

  text-align: left;

  display: block;

  margin-left: -5px;
  font-size: 12px;


}


.rightNav{
  width: 80px;
  padding: 0px;
  max-height: 365px;
  overflow: visible;
  margin-top: 5%;
}
.md-sidenav-backdrop{
  display: none;
}
.rightNavButton{
    min-width: 38px;
    position: absolute;
    right: 0;
    margin-right: 0px;
    padding-right: 0px;
    background-color: rgb(24,168,169);
}
.rightNavButton i, .leftNavButton i{
  padding-top: 10px;
  font-size: 25px;
  color: #fff;
}

.leftNavButton{
    min-width: 38px;
    margin-left: -38px;
    padding: 0px;
    background-color: #B0E3E4;
    float: left;
    margin-right: 0px;
}
.leftNavBtn{
    margin-left: -25px;
    float: left;
    background-color: #B0E3E4;
}
.cntMenu:hover{
  background-color: #fff;
}
.leftSideNav md-list{
  padding-top: 0px;
}