<md-content>
	<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> 

	 <div>
	 	<span>ADD EVENTS</span>
	 	<div>
	     	<md-input-container class="md-block" flex-gt-sm>
	            <label>Event Name</label>
	            <input ng-model="eventName" >
	      	</md-input-container>
	 	</div>
	 	<div>

		 		<md-datepicker ng-model="startDate" md-placeholder="Start date"></md-datepicker>

	 	</div>
	 	<div>
		 		<md-datepicker ng-model="endDate" md-placeholder="End date"></md-datepicker>

	 	</div>
	 	<div>
	 		<md-button class="md-raised md-primary" ng-click="addEvent()">ADD</md-button>
	 	</div>
	 </div>
 </md-content>